openapi: 3.0.0
info:
  title: Bots
  description: |
    <p>Bots are conversational assistants designed to automate repetitive tasks and manage simple user interactions. Their behavior is fully customizable through predefined Bot Handlers, which are activated by specific actions or through Webhooks that communicate with your own external server.</p> <p>For more information about Bots, please refer to the <b><a href="https://www.zoho.com/cliq/help/platform/bots.html" target="_blank">Bots Help Documentation</a></b>.</p> <p><b>Bot Handlers</b></p> <ul>
      <li>Bot Handlers are the building blocks of a bot's functionality. Each handler is associated with a specific trigger event, such as receiving a direct message, being @mentioned in a channel, or a user subscribing to the bot.</li>
      <li>When the trigger event occurs, the corresponding handler executes it's script to perform actions like sending messages, making API calls, or updating data.</li>
      <li>By configuring different handlers, you can create bots that respond intelligently to various user interactions and automate complex workflows within Zoho Cliq.</li>
    </ul> <p><b>Types of Bot Handlers</b></p> <table style="border-collapse: collapse; width: 100%;">
      <tr>
        <th style="padding: 8px; text-align: left; border: 1px solid #ddd;">Handler</th>
        <th style="padding: 8px; text-align: left; border: 1px solid #ddd;">Description</th>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd;">Menu Handler</td>
        <td style="padding: 8px; border: 1px solid #ddd;">Adds up to 5 quick-action items to the bot's chat menu. Triggered when a user interacts with the menu.</td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd;">Message Handler</td>
        <td style="padding: 8px; border: 1px solid #ddd;">Triggered when the bot receives a message.</td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd;">Welcome Handler</td>
        <td style="padding: 8px; border: 1px solid #ddd;">Defines the greeting message sent when a user subscribes to the bot.</td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd;">Mention Handler</td>
        <td style="padding: 8px; border: 1px solid #ddd;">Triggered when the bot is @mentioned in a chat or channel.</td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd;">Incoming Webhook Handler</td>
        <td style="padding: 8px; border: 1px solid #ddd;">Allows external services to post messages into the bot via outgoing webhooks.</td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd;">Context Handler</td>
        <td style="padding: 8px; border: 1px solid #ddd;">Manages multi-turn conversations, maintaining context across a user's interaction with the bot.</td>
      </tr>
    </table> <p><b>What you can do with the Bots API?</b></p> <p>With the Bots API, you can retrieve information about a specific bot, list all bots within your organization, manage configurations specific to handlers, trigger bot calls programmatically, manage subscribers, and much more.</p> <p>Each bot has an <code>execution_type</code> that defines how its handlers run when a trigger event occurs. The Bots API allows developers to create two types of bots:</p> <p id="deluge-bots"><b>Deluge Bots (default)</b><br> Deluge bot executes handler logic using Zoho's Deluge scripting language, hosted entirely within the Zoho Cliq Developer platform, where no external server is required.</p> <ul>
      <li>If <code>execution_type</code> is not specified during bot creation, it defaults to deluge.</li>
      <li>Handler logic is defined as a script field (Deluge source code) when creating or updating handlers.</li>
      <li>Suitable for teams that want to build and manage bot logic entirely within Zoho's ecosystem.</li>
    </ul> <p id="webhook-bots"><b>Webhook Bots</b><br> A Webhook bot delegates all handler execution to your own external server. When a trigger event fires, Zoho Cliq sends an HTTP POST request to the <code>execution_url</code> you configure, and your server processes the event and returns a response.</p> <ul>
      <li>To create a Webhook bot, set <code>execution_type</code> to webhook during bot creation and provide the <code>execution_url</code> where event payloads should be sent.</li>
      <li>Your server must be publicly accessible and able to handle incoming POST requests from Zoho Cliq.</li>
      <li>Ideal for teams seeking complete control over bot logic and possessing the resources to manage an external server. Also suitable for integrations requiring access to external databases, third-party APIs, or custom business logic that cannot be executed in Deluge.</li>
    </ul>
  contact: {}
  version: 1.0.0
externalDocs:
  description: Find out more about Zoho Cliq APIs V3
  url: https://www.zoho.com/cliq/help/restapi/v3/
servers:
  - url: https://cliq.zoho.com/api/v3
    description: Zoho Cliq US DC
tags:
  - name: bots
    description: APIs related to managing bots, including creating, updating, retrieving details, and listing bots in the organization.
paths:
  /bots:
    post:
      summary: Create a bot
      operationId: create_a_new_bot
      description: |
        Create a new bot in Cliq by specifying the bot's display name, description, and access level (organization or team). Upon creation, Cliq auto-assigns a <code>unique_name</code> as a permanent identifier for the bot - this cannot be changed even if the display name is updated later.<br><br>After creation, add handlers to define the bot's behaviour for each trigger event.<br>
        With this API, you can create both <a href="/cliq/help/restapi/v3/bots/#deluge-bots">Deluge bots</a> (which run handler logic within Zoho's platform) and <a href="/cliq/help/restapi/v3/bots/#webhook-bots">Webhook bots</a> (which delegate execution to your own server).
        <p>
          <b>Threshold limit</b>: 10 requests per min per user<br>
          Number of API calls allowed within a minute.<br><br>
          <b>Lock period</b>: 5 minutes<br>Wait time before consecutive API requests.<br>
        </p>
        <details style="margin:16px 0 8px 0; border:1px solid rgba(148,163,184,0.5); border-radius:8px; font-family:inherit;" ontoggle="this.querySelector('.err-toggle-hint').textContent=this.open?'Click to collapse':'Click to expand'">
          <summary style="cursor:pointer; padding:11px 16px; font-weight:600; background:rgba(148,163,184,0.1); list-style:none; display:flex; align-items:center; gap:8px; user-select:none; border-radius:8px;">
            <span style="display:inline-flex; align-items:center; justify-content:center; width:20px; height:20px; background:rgba(239,68,68,0.15); border-radius:50%; font-size:12px; font-weight:700; color:#ef4444; flex-shrink:0;">!</span>
            Possible Error Codes
            <span class="err-toggle-hint" style="margin-left:auto; font-weight:400; opacity:0.45; font-size:0.8em; letter-spacing:0.01em;">Click to expand</span>
          </summary>
          <div style="padding:14px 16px 16px 16px;">
            <div style="border-radius:6px; border:1px solid rgba(148,163,184,0.35);">
              <table style="border-collapse:collapse; width:100%; font-family:inherit; font-size:0.9em;">
                <thead>
                  <tr>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); border-right:1px solid rgba(148,163,184,0.35); font-weight:600; width:45%;">Error Code</th>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); font-weight:600; width:55%;">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">bot_creation_limit_exceeded</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">Organization has reached the maximum number of bots.</td>
                  </tr>
                  <tr style="background:rgba(148,163,184,0.05);">
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">bot_name_already_exists</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">A bot with this name already exists.</td>
                  </tr>
                  <tr>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">invalid_inputs</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">Request body validation failed.</td>
                  </tr>
                  <tr style="background:rgba(148,163,184,0.05);">
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">execution_url_required</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);"><code>execution_url</code> is required when <code>execution_type</code> is set to <code>webhook</code>.</td>
                  </tr>
                  <tr>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">execution_url_not_allowed</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);"><code>execution_url</code> is not allowed when <code>execution_type</code> is set to <code>deluge</code>.</td>
                  </tr>
                  <tr style="background:rgba(148,163,184,0.05);">
                    <td style="padding:10px 18px; border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">invalid_scope</span></td>
                    <td style="padding:10px 18px;">The provided <code>scope</code> value is invalid. Allowed values are <code>organization</code>, <code>team</code>, and <code>personal</code>.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="background:rgba(245,158,11,0.08); border:1px solid rgba(245,158,11,0.4); border-left:4px solid #f59e0b; padding:12px 16px; border-radius:0 6px 6px 0; margin-top:14px; overflow:hidden;">
              <b style="color:#d97706; font-size:0.88em; display:block; margin-bottom:6px;">Error Response Format</b>
              <p style="margin:0 0 8px 0; font-size:0.85em; opacity:0.75;">When an error occurs, the API returns a JSON response in this format:</p>
              <code style="display:block; background:rgba(245,158,11,0.1); border:1px solid rgba(245,158,11,0.3); padding:8px 12px; border-radius:4px; font-size:0.75em; word-break:break-all;">{"message": "A human-readable description of the error.", "code": "error_code"}</code>
              <p style="margin:8px 0 0 0; font-size:0.85em; opacity:0.75;">where <code style="background:rgba(245,158,11,0.1); padding:1px 5px; border-radius:3px;">code</code> is the error identifier (as listed above) and <code style="background:rgba(245,158,11,0.1); padding:1px 5px; border-radius:3px;">message</code> is a human-readable explanation of what went wrong.</p>
            </div>
          </div>
        </details>
      requestBody:
        description: Creates a bot. Provide `name` (display name) and `description`; use `scope` and optional fields to control visibility and behavior. The `unique_name` is auto-assigned by Cliq as a permanent identifier and cannot be provided or changed.
        content:
          application/json:
            examples:
              deluge_bot:
                summary: Deluge Bot - Internal client care assistant
                value:
                  name: Clientcare Bot
                  description: Your client care co-pilot streamlining support by providing instant customer context and easy access to critical resources.
                  scope: team
                  team_ids:
                    - 12345678
                  status_messages:
                    - Here to help you with client support!
                  channel_participation:
                    - send_message
                  calls: enabled
              webhook_bot:
                summary: Webhook Bot - CI/CD pipeline alert bot
                value:
                  name: Pipeline Alert Bot
                  description: Sends real-time CI/CD pipeline status alerts to engineering teams. Triggered by your external build server via webhook on each build, test, or deployment event.
                  scope: team
                  team_ids:
                    - 98765432
                  execution_type: webhook
                  execution_url: https://ci.zylker.com/cliq-webhook/pipeline-alerts
                  status_messages:
                    - Monitoring your pipelines 24/7
                  channel_participation:
                    - listen_message
                    - send_message
                  calls: enabled
            schema:
              $ref: '#/components/schemas/BotCreate'
        required: true
      responses:
        '200':
          description: Bot created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotCreateResponse'
              examples:
                deluge_bot:
                  summary: Deluge Bot response
                  value:
                    url: /api/v3/bots
                    type: bot
                    data:
                      unique_name: clientcarebot
                      name: Clientcare Bot
                      id: '53719000002124012'
                      description: Your client care co-pilot streamlining support by providing instant customer context and easy access to critical resources.
                      scope: team
                      team_ids:
                        - 12345678
                      status_messages:
                        - Here to help you with client support!
                      channel_participation:
                        - send_message
                      calls: enabled
                      handlers: []
                      creator:
                        name: James
                        id: '65113112'
                      execution_type: deluge
                      status: enabled
                      type: custom
                      default: false
                      subscriber_count: 1
                webhook_bot:
                  summary: Webhook Bot response
                  value:
                    url: /api/v3/bots
                    type: bot
                    data:
                      unique_name: pipelinealertbot
                      name: Pipeline Alert Bot
                      id: '53719000002198034'
                      description: Sends real-time CI/CD pipeline status alerts to engineering teams. Triggered by your external build server via webhook on each build, test, or deployment event.
                      scope: team
                      team_ids:
                        - 98765432
                      status_messages:
                        - Monitoring your pipelines 24/7
                      channel_participation:
                        - listen_message
                        - send_message
                      calls: enabled
                      handlers: []
                      creator:
                        name: James
                        id: '65113112'
                      execution_type: webhook
                      execution_url: https://ci.zylker.com/cliq-webhook/pipeline-alerts
                      status: enabled
                      type: custom
                      default: false
                      subscriber_count: 1
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
        - Cliq_Auth:
            - ZohoCliq.Bots.CREATE
      tags:
        - bots
    get:
      summary: List all bots
      operationId: list_all_bots
      description: |
        Retrieves a paginated list of all Bots available to the user.<br><br>
        Use <b>limit</b> and <b>next_token</b> for cursor-based pagination, <b>sync_token</b> for incremental sync, and <b>search</b> and <b>scope</b> to filter results when browsing the Marketplace catalogue.
        <br>
        <p>
          <b>Threshold limit</b>: 30 requests per min per user<br>
          Number of API calls allowed within a minute.<br><br>
          <b>Lock period</b>: 5 minutes<br>Wait time before consecutive API requests.<br>
        </p>
      parameters:
        - name: limit
          in: query
          description: |
            Size of the set to be fetched.<br>
            Default value is <b>20</b> and maximum allowed value is <b>50</b>.
          required: false
          schema:
            type: integer
        - name: sync_token
          in: query
          description: |
            To fetch the bots which recently got added or updated after the previous request was made. 
          required: false
          schema:
            type: string
        - name: next_token
          in: query
          description: |
            Pagination token to fetch the next set of bots.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of bots returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotListResponse'
              example:
                url: /api/v3/bots
                type: bot
                next_token: NTB8MTc1NjM2MjA5MzQ5OHw1MzcxOTAwMDAwMTYyMDAwMw==
                sync_token: NTB8MTc3NzM0MjEyNzQ3OHw1MzcxOTAwMDAwMTg3ODAxMQ==
                data:
                  - unique_name: supportbot
                    name: Support Bot
                    id: '53719000001878011'
                    description: Handles support workflows
                    scope: organization
                    channel_participation:
                      - listen_message
                      - send_message
                      - auto_follow_thread
                    handlers:
                      - type: call_handler
                      - type: welcome_handler
                      - type: context_handler
                      - type: message_handler
                      - type: menu_handler
                        id: '53719000001878017'
                        name: Action
                        icon: wand/627282
                        position: 1
                        sub_actions:
                          - name: Sub Action
                            icon: wand/627282
                    creator:
                      name: James
                      id: '65113112'
                    execution_type: deluge
                    status: enabled
                    type: custom
                    default: false
                    subscriber_count: 1
                    calls: disabled
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
        - Cliq_Auth:
            - ZohoCliq.Bots.READ
      tags:
        - bots
  /bots/{BOT_ID}:
    patch:
      summary: Update an existing bot
      operationId: update_an_existing_bot
      description: |
        Update the details and configuration of an existing bot. You can change the bot's display name, description, access level (organization-wide, team, or personal), and logo.<br>
        <br><b>Note:</b>
        <ul>
          <li>The bot's <code>unique_name</code> is auto-assigned by Cliq upon creation and serves as a permanent identifier. It cannot be changed even if the display name is updated.</li>
          <li>For <b>Webhook bots</b>, the <code>execution_url</code> can be updated independently - you can point the bot to a new server endpoint without changing any other configuration.</li>
        </ul>
        <br>
        <p>
          <b>Threshold limit</b>: 10 requests per min per user<br>
          Number of API calls allowed within a minute.<br><br>
          <b>Lock period</b>: 5 minutes<br>Wait time before consecutive API requests.<br>
        </p>
        <details style="margin:16px 0 8px 0; border:1px solid rgba(148,163,184,0.5); border-radius:8px; font-family:inherit;" ontoggle="this.querySelector('.err-toggle-hint').textContent=this.open?'Click to collapse':'Click to expand'">
          <summary style="cursor:pointer; padding:11px 16px; font-weight:600; background:rgba(148,163,184,0.1); list-style:none; display:flex; align-items:center; gap:8px; user-select:none; border-radius:8px;">
            <span style="display:inline-flex; align-items:center; justify-content:center; width:20px; height:20px; background:rgba(239,68,68,0.15); border-radius:50%; font-size:12px; font-weight:700; color:#ef4444; flex-shrink:0;">!</span>
            Possible Error Codes
            <span class="err-toggle-hint" style="margin-left:auto; font-weight:400; opacity:0.45; font-size:0.8em; letter-spacing:0.01em;">Click to expand</span>
          </summary>
          <div style="padding:14px 16px 16px 16px;">
            <div style="border-radius:6px; border:1px solid rgba(148,163,184,0.35);">
              <table style="border-collapse:collapse; width:100%; font-family:inherit; font-size:0.9em;">
                <thead>
                  <tr>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); border-right:1px solid rgba(148,163,184,0.35); font-weight:600; width:45%;">Error Code</th>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); font-weight:600; width:55%;">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">bot_not_found</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">Bot with the specified ID does not exist.</td>
                  </tr>
                  <tr style="background:rgba(148,163,184,0.05);">
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">bot_name_already_exists</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">Another bot with this name already exists.</td>
                  </tr>
                  <tr>
                    <td style="padding:10px 18px; border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">bot_permission_denied</span></td>
                    <td style="padding:10px 18px;">Insufficient permissions to edit this bot.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="background:rgba(245,158,11,0.08); border:1px solid rgba(245,158,11,0.4); border-left:4px solid #f59e0b; padding:12px 16px; border-radius:0 6px 6px 0; margin-top:14px; overflow:hidden;">
              <b style="color:#d97706; font-size:0.88em; display:block; margin-bottom:6px;">Error Response Format</b>
              <p style="margin:0 0 8px 0; font-size:0.85em; opacity:0.75;">When an error occurs, the API returns a JSON response in this format:</p>
              <code style="display:block; background:rgba(245,158,11,0.1); border:1px solid rgba(245,158,11,0.3); padding:8px 12px; border-radius:4px; font-size:0.75em; word-break:break-all;">{"message": "A human-readable description of the error.", "code": "error_code"}</code>
              <p style="margin:8px 0 0 0; font-size:0.85em; opacity:0.75;">where <code style="background:rgba(245,158,11,0.1); padding:1px 5px; border-radius:3px;">code</code> is the error identifier (as listed above) and <code style="background:rgba(245,158,11,0.1); padding:1px 5px; border-radius:3px;">message</code> is a human-readable explanation of what went wrong.</p>
            </div>
          </div>
        </details>
      parameters:
        - name: BOT_ID
          in: path
          required: true
          description: |
            Unique numeric identifier of the bot.<br>
            To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#BOT_ID">BOT_ID</a> in the Glossary page.
          schema:
            type: string
          example: BOT_ID
      requestBody:
        description: |
          Updates a bot's configuration. Provide the bot ID in the path and the fields to update in the request body. The <code>unique_name</code> is a permanent identifier auto-assigned by Cliq and cannot be changed, even after updating the display name. For Webhook bots, you can update the <code>execution_url</code> alone to point to a new server endpoint.
        content:
          application/json:
            examples:
              deluge_bot:
                summary: Deluge Bot - update display name and description
                value:
                  name: CRM Bot
                  description: Your CRM co-pilot providing instant access to customer data and insights within Cliq.
                  scope: organization
                  status_messages:
                    - Here to help you with CRM support!
                  channel_participation:
                    - listen_message
                  calls: enabled
              webhook_bot:
                summary: Webhook Bot - update execution URL
                value:
                  execution_url: https://example.com/new-webhook
            schema:
              $ref: '#/components/schemas/BotEdit'
        required: true
      responses:
        '200':
          description: Bot updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotUpdateResponse'
              examples:
                deluge_bot:
                  summary: Deluge Bot - update response
                  value:
                    url: /api/v3/bots/b-53719000002124012
                    type: bot
                    data:
                      unique_name: crmbot
                      name: CRM Bot
                      id: '53719000002124012'
                      description: Your CRM co-pilot providing instant access to customer data and insights within Cliq.
                      scope: organization
                      status_messages:
                        - Here to help you with CRM support!
                      channel_participation:
                        - listen_message
                      calls: enabled
                      handlers:
                        - type: welcome_handler
                      creator:
                        name: James
                        id: '65113112'
                      execution_type: deluge
                      status: enabled
                      type: custom
                      default: false
                      subscriber_count: 1
                webhook_bot:
                  summary: Webhook Bot - execution URL updated response
                  value:
                    url: /api/v3/bots/b-73829000004567890
                    type: bot
                    data:
                      unique_name: cicdbot
                      name: CI/CD Alert Bot
                      id: '73829000004567890'
                      description: Sends real-time CI/CD pipeline alerts and deployment notifications to your team channels.
                      scope: organization
                      execution_url: https://example.com/new-webhook
                      execution_type: webhook
                      status: enabled
                      type: custom
                      default: false
                      subscriber_count: 5
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
        - Cliq_Auth:
            - ZohoCliq.Bots.UPDATE
      tags:
        - bots
    get:
      summary: Retrieve details of a specific bot
      operationId: get_details_of_a_specific_bot
      description: |
        Retrieves the full configuration and details of a specific bot, including its name, description, unique name, access level, and handler summary.<br>
        Use the <code>fields</code> query parameter to fetch additional details such as subscriber count or handler code.
        <br><br>
        <p>
          <b>Threshold limit</b>: 30 requests per min per user<br>
          Number of API calls allowed within a minute.<br><br>
          <b>Lock period</b>: 5 minutes<br>Wait time before consecutive API requests.<br>
        </p>
        <details style="margin:16px 0 8px 0; border:1px solid rgba(148,163,184,0.5); border-radius:8px; font-family:inherit;" ontoggle="this.querySelector('.err-toggle-hint').textContent=this.open?'Click to collapse':'Click to expand'">
          <summary style="cursor:pointer; padding:11px 16px; font-weight:600; background:rgba(148,163,184,0.1); list-style:none; display:flex; align-items:center; gap:8px; user-select:none; border-radius:8px;">
            <span style="display:inline-flex; align-items:center; justify-content:center; width:20px; height:20px; background:rgba(239,68,68,0.15); border-radius:50%; font-size:12px; font-weight:700; color:#ef4444; flex-shrink:0;">!</span>
            Possible Error Codes
            <span class="err-toggle-hint" style="margin-left:auto; font-weight:400; opacity:0.45; font-size:0.8em; letter-spacing:0.01em;">Click to expand</span>
          </summary>
          <div style="padding:14px 16px 16px 16px;">
            <div style="border-radius:6px; border:1px solid rgba(148,163,184,0.35);">
              <table style="border-collapse:collapse; width:100%; font-family:inherit; font-size:0.9em;">
                <thead>
                  <tr>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); border-right:1px solid rgba(148,163,184,0.35); font-weight:600; width:45%;">Error Code</th>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); font-weight:600; width:55%;">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding:10px 18px; border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">bot_not_found</span></td>
                    <td style="padding:10px 18px;">Bot with the specified ID does not exist.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="background:rgba(245,158,11,0.08); border:1px solid rgba(245,158,11,0.4); border-left:4px solid #f59e0b; padding:12px 16px; border-radius:0 6px 6px 0; margin-top:14px; overflow:hidden;">
              <b style="color:#d97706; font-size:0.88em; display:block; margin-bottom:6px;">Error Response Format</b>
              <p style="margin:0 0 8px 0; font-size:0.85em; opacity:0.75;">When an error occurs, the API returns a JSON response in this format:</p>
              <code style="display:block; background:rgba(245,158,11,0.1); border:1px solid rgba(245,158,11,0.3); padding:8px 12px; border-radius:4px; font-size:0.75em; word-break:break-all;">{"message": "A human-readable description of the error.", "code": "error_code"}</code>
              <p style="margin:8px 0 0 0; font-size:0.85em; opacity:0.75;">where <code style="background:rgba(245,158,11,0.1); padding:1px 5px; border-radius:3px;">code</code> is the error identifier (as listed above) and <code style="background:rgba(245,158,11,0.1); padding:1px 5px; border-radius:3px;">message</code> is a human-readable explanation of what went wrong.</p>
            </div>
          </div>
        </details>
      parameters:
        - name: BOT_ID
          in: path
          required: true
          description: |
            Unique numeric identifier of the bot.<br>
            To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#BOT_ID">BOT_ID</a> in the Glossary page.
          schema:
            type: string
          example: BOT_ID
        - name: fields
          in: query
          description: |
            Additonal field to be fetched in the response. By default, the API returns basic details of the bot along with a summary of its handlers (type and count).
            <br>
            <b>Allowed value</b><br>
            <ul>
              <li>subscription_details - Returns the list of subscribers along with their details like name, email, etc.</li>
            </ul>
          required: false
          schema:
            type: string
          example: subscription_details
      responses:
        '200':
          description: Bot details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotGetResponse'
              example:
                url: /api/v3/bots/b-53719000001878011
                type: bot
                data:
                  unique_name: supportbot
                  name: Support Bot
                  id: '53719000001878011'
                  description: Handles support workflows
                  scope: organization
                  channel_participation:
                    - listen_message
                    - send_message
                    - auto_follow_thread
                  handlers:
                    - type: call_handler
                    - type: welcome_handler
                    - type: context_handler
                    - type: message_handler
                    - type: menu_handler
                      id: '53719000001878017'
                      name: Action
                      icon: wand/627282
                      position: 1
                      sub_actions:
                        - name: Sub Action
                          icon: wand/627282
                  creator:
                    name: James
                    id: '65113112'
                  execution_type: deluge
                  status: enabled
                  type: custom
                  default: false
                  subscriber_count: 1
                  calls: disabled
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
        - Cliq_Auth:
            - ZohoCliq.Bots.READ
      tags:
        - bots
    delete:
      summary: Delete a specific bot
      operationId: delete_a_specific_bot
      description: |
        Permanently delete a bot and all its associated handlers and configuration. All subscribers will lose access to the bot and any channel associations will be removed. This action is irreversible.
        <br><br>
        <p>
          <b>Threshold limit</b>: 10 requests per min per user<br>
          Number of API calls allowed within a minute.<br><br>
          <b>Lock period</b>: 5 minutes<br>Wait time before consecutive API requests.<br>
        </p>
        <details style="margin:16px 0 8px 0; border:1px solid rgba(148,163,184,0.5); border-radius:8px; font-family:inherit;" ontoggle="this.querySelector('.err-toggle-hint').textContent=this.open?'Click to collapse':'Click to expand'">
          <summary style="cursor:pointer; padding:11px 16px; font-weight:600; background:rgba(148,163,184,0.1); list-style:none; display:flex; align-items:center; gap:8px; user-select:none; border-radius:8px;">
            <span style="display:inline-flex; align-items:center; justify-content:center; width:20px; height:20px; background:rgba(239,68,68,0.15); border-radius:50%; font-size:12px; font-weight:700; color:#ef4444; flex-shrink:0;">!</span>
            Possible Error Codes
            <span class="err-toggle-hint" style="margin-left:auto; font-weight:400; opacity:0.45; font-size:0.8em; letter-spacing:0.01em;">Click to expand</span>
          </summary>
          <div style="padding:14px 16px 16px 16px;">
            <div style="border-radius:6px; border:1px solid rgba(148,163,184,0.35);">
              <table style="border-collapse:collapse; width:100%; font-family:inherit; font-size:0.9em;">
                <thead>
                  <tr>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); border-right:1px solid rgba(148,163,184,0.35); font-weight:600; width:45%;">Error Code</th>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); font-weight:600; width:55%;">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">bot_not_found</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">Bot with the specified ID does not exist.</td>
                  </tr>
                  <tr style="background:rgba(148,163,184,0.05);">
                    <td style="padding:10px 18px; border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">bot_permission_denied</span></td>
                    <td style="padding:10px 18px;">Insufficient permissions to delete this bot.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="background:rgba(245,158,11,0.08); border:1px solid rgba(245,158,11,0.4); border-left:4px solid #f59e0b; padding:12px 16px; border-radius:0 6px 6px 0; margin-top:14px; overflow:hidden;">
              <b style="color:#d97706; font-size:0.88em; display:block; margin-bottom:6px;">Error Response Format</b>
              <p style="margin:0 0 8px 0; font-size:0.85em; opacity:0.75;">When an error occurs, the API returns a JSON response in this format:</p>
              <code style="display:block; background:rgba(245,158,11,0.1); border:1px solid rgba(245,158,11,0.3); padding:8px 12px; border-radius:4px; font-size:0.75em; word-break:break-all;">{"message": "A human-readable description of the error.", "code": "error_code"}</code>
              <p style="margin:8px 0 0 0; font-size:0.85em; opacity:0.75;">where <code style="background:rgba(245,158,11,0.1); padding:1px 5px; border-radius:3px;">code</code> is the error identifier (as listed above) and <code style="background:rgba(245,158,11,0.1); padding:1px 5px; border-radius:3px;">message</code> is a human-readable explanation of what went wrong.</p>
            </div>
          </div>
        </details>
      parameters:
        - name: BOT_ID
          in: path
          required: true
          description: |
            Unique numeric identifier of the bot.
            <b>How to retrieve BOT_ID?</b><br>
            To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#BOT_ID">BOT_ID</a> in the Glossary page.
          schema:
            type: string
          example: BOT_ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
        - Cliq_Auth:
            - ZohoCliq.Bots.DELETE
      tags:
        - bots
  /bots/{BOT_UNIQUE_NAME}/messages:
    post:
      summary: Send a bot message
      operationId: send_a_bot_message
      description: |
        Send a message from the bot to specific users, a channel, or all subscribers.
        <br><br>
        <p>
          <b>Threshold limit</b>: 50 requests per min per user<br>
          Number of API calls allowed within a minute.<br><br>
          <b>Lock period</b>: 10 minutes<br>Wait time before consecutive API requests.<br>
        </p>
        <details style="margin:16px 0 8px 0; border:1px solid rgba(148,163,184,0.5); border-radius:8px; font-family:inherit;" ontoggle="this.querySelector('.err-toggle-hint').textContent=this.open?'Click to collapse':'Click to expand'">
          <summary style="cursor:pointer; padding:11px 16px; font-weight:600; background:rgba(148,163,184,0.1); list-style:none; display:flex; align-items:center; gap:8px; user-select:none; border-radius:8px;">
            <span style="display:inline-flex; align-items:center; justify-content:center; width:20px; height:20px; background:rgba(239,68,68,0.15); border-radius:50%; font-size:12px; font-weight:700; color:#ef4444; flex-shrink:0;">!</span>
            Possible Error Codes
            <span class="err-toggle-hint" style="margin-left:auto; font-weight:400; opacity:0.45; font-size:0.8em; letter-spacing:0.01em;">Click to expand</span>
          </summary>
          <div style="padding:14px 16px 16px 16px;">
            <div style="border-radius:6px; border:1px solid rgba(148,163,184,0.35);">
              <table style="border-collapse:collapse; width:100%; font-family:inherit; font-size:0.9em;">
                <thead>
                  <tr>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); border-right:1px solid rgba(148,163,184,0.35); font-weight:600; width:45%;">Error Code</th>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); font-weight:600; width:55%;">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">botmessage_sending_failed</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">Bot message sending failed.</td>
                  </tr>
                  <tr style="background:rgba(148,163,184,0.05);">
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">botmessage_no_valid_users</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">No valid users found for the bot message.</td>
                  </tr>
                  <tr>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">bot_unauthorized_message_access</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">Bot does not have permission to message these users.</td>
                  </tr>
                  <tr style="background:rgba(148,163,184,0.05);">
                    <td style="padding:10px 18px; border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">bot_message_forbidden</span></td>
                    <td style="padding:10px 18px;">Bot message access is forbidden.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="background:rgba(245,158,11,0.08); border:1px solid rgba(245,158,11,0.4); border-left:4px solid #f59e0b; padding:12px 16px; border-radius:0 6px 6px 0; margin-top:14px; overflow:hidden;">
              <b style="color:#d97706; font-size:0.88em; display:block; margin-bottom:6px;">Error Response Format</b>
              <p style="margin:0 0 8px 0; font-size:0.85em; opacity:0.75;">When an error occurs, the API returns a JSON response in this format:</p>
              <code style="display:block; background:rgba(245,158,11,0.1); border:1px solid rgba(245,158,11,0.3); padding:8px 12px; border-radius:4px; font-size:0.75em; word-break:break-all;">{"message": "A human-readable description of the error.", "code": "error_code"}</code>
              <p style="margin:8px 0 0 0; font-size:0.85em; opacity:0.75;">where <code style="background:rgba(245,158,11,0.1); padding:1px 5px; border-radius:3px;">code</code> is the error identifier (as listed above) and <code style="background:rgba(245,158,11,0.1); padding:1px 5px; border-radius:3px;">message</code> is a human-readable explanation of what went wrong.</p>
            </div>
          </div>
        </details>
      parameters:
        - name: BOT_UNIQUE_NAME
          in: path
          required: true
          description: |
            Unique name of the bot to send the message from.<br>
            To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#BOT_UNIQUE_NAME">BOT_UNIQUE_NAME</a> in the Glossary page.
          schema:
            type: string
          example: BOT_UNIQUE_NAME
        - name: extension_key
          in: query
          description: Encrypted application key for authentication.
          required: false
          schema:
            type: string
        - name: CHANNEL_UNIQUE_NAME
          in: query
          description: |
            Channel unique name to deliver the bot message.<br>
            To find the unique name of a channel, refer to <a href="/cliq/help/restapi/v3/glossary/#CHANNEL_UNIQUE_NAME">CHANNEL_UNIQUE_NAME</a> in the Glossary page.
          required: false
          schema:
            type: string
        - name: user_ids
          in: query
          description: Comma-separated user IDs to send the message to.
          required: false
          schema:
            type: string
      requestBody:
        description: |
          Message payload. Provide at least one of <code>text</code>, <code>card</code>, or <code>slides</code>.
          Use <code>user_ids</code> or <code>broadcast</code> to control the target recipients - these fields override the equivalent query parameters when both are supplied.
        content:
          application/json:
            examples:
              card_message:
                summary: Modern inline card message to specific users
                value:
                  text: A critical support ticket has been escalated and requires immediate attention.
                  card:
                    theme: modern-inline
                    title: Ticket Escalated - Payment Gateway Timeout
                  slides:
                    - type: table
                      title: Ticket Details
                      data:
                        headers:
                          - Field
                          - Value
                        rows:
                          - Field: Ticket ID
                            Value: '#TKT-00892'
                          - Field: Priority
                            Value: Critical
                          - Field: Reported By
                            Value: olivia.palmer@zylker.com
                          - Field: Open Since
                            Value: 2026-04-16 09:14 AM
                  buttons:
                    - label: Assign to Me
                      action:
                        type: invoke.function
                        data:
                          name: assign_ticket
                    - label: View Ticket
                      action:
                        type: open.url
                        data:
                          web: https://desk.zoho.com/tickets/TKT-00892
                  user_ids: 55743307,55622727
                  notify_edit: false
              thread_message:
                summary: Bot message posted into an existing thread
                value:
                  text: The deployment pipeline for v3.6.1 completed successfully. All health checks passed.
                  thread_chat_id: CT_1207124526552602256_60002085329-T-1291567019566818579
                  post_in_parent: false
                  user_ids: '55743307'
                  sync_message: true
            schema:
              $ref: '#/components/schemas/BotMessage'
        required: true
      responses:
        '200':
          description: Bot message delivered successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoResponse'
      security:
        - Cliq_Auth:
            - ZohoCliq.Webhooks.CREATE
            - ZohoCliq.BotMessages.CREATE
      tags:
        - bots
  /bots/{BOT_UNIQUE_NAME}/incoming:
    post:
      summary: Send an incoming webhook message to a bot
      operationId: send_an_incoming_webhook_message
      description: |
        Post a message to a bot using its incoming webhook URL. This endpoint allows external systems to push notifications into Cliq through a bot.
        <br><br>
        <b>Note:</b> Up to 50 additional custom parameters can be passed as query parameters (max 10,000 characters each).
        <br><br>
        <p>
          <b>Threshold limit</b>: 50 requests per min per user<br>
          Number of API calls allowed within a minute.<br><br>
          <b>Lock period</b>: 10 minutes<br>Wait time before consecutive API requests.<br>
        </p>
        <details style="margin:16px 0 8px 0; border:1px solid rgba(148,163,184,0.5); border-radius:8px; font-family:inherit;" ontoggle="this.querySelector('.err-toggle-hint').textContent=this.open?'Click to collapse':'Click to expand'">
          <summary style="cursor:pointer; padding:11px 16px; font-weight:600; background:rgba(148,163,184,0.1); list-style:none; display:flex; align-items:center; gap:8px; user-select:none; border-radius:8px;">
            <span style="display:inline-flex; align-items:center; justify-content:center; width:20px; height:20px; background:rgba(239,68,68,0.15); border-radius:50%; font-size:12px; font-weight:700; color:#ef4444; flex-shrink:0;">!</span>
            Possible Error Codes
            <span class="err-toggle-hint" style="margin-left:auto; font-weight:400; opacity:0.45; font-size:0.8em; letter-spacing:0.01em;">Click to expand</span>
          </summary>
          <div style="padding:14px 16px 16px 16px;">
            <div style="border-radius:6px; border:1px solid rgba(148,163,184,0.35);">
              <table style="border-collapse:collapse; width:100%; font-family:inherit; font-size:0.9em;">
                <thead>
                  <tr>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); border-right:1px solid rgba(148,163,184,0.35); font-weight:600; width:45%;">Error Code</th>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); font-weight:600; width:55%;">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">botmessage_sending_failed</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">Incoming webhook message delivery failed.</td>
                  </tr>
                  <tr style="background:rgba(148,163,184,0.05);">
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">botmessage_no_valid_users</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">No valid users found for delivery.</td>
                  </tr>
                  <tr>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">bot_unauthorized_message_access</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">Bot does not have permission to message these users.</td>
                  </tr>
                  <tr style="background:rgba(148,163,184,0.05);">
                    <td style="padding:10px 18px; border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">bot_message_forbidden</span></td>
                    <td style="padding:10px 18px;">Bot message access is forbidden.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="background:rgba(245,158,11,0.08); border:1px solid rgba(245,158,11,0.4); border-left:4px solid #f59e0b; padding:12px 16px; border-radius:0 6px 6px 0; margin-top:14px; overflow:hidden;">
              <b style="color:#d97706; font-size:0.88em; display:block; margin-bottom:6px;">Error Response Format</b>
              <p style="margin:0 0 8px 0; font-size:0.85em; opacity:0.75;">When an error occurs, the API returns a JSON response in this format:</p>
              <code style="display:block; background:rgba(245,158,11,0.1); border:1px solid rgba(245,158,11,0.3); padding:8px 12px; border-radius:4px; font-size:0.75em; word-break:break-all;">{"message": "A human-readable description of the error.", "code": "error_code"}</code>
              <p style="margin:8px 0 0 0; font-size:0.85em; opacity:0.75;">where <code style="background:rgba(245,158,11,0.1); padding:1px 5px; border-radius:3px;">code</code> is the error identifier (as listed above) and <code style="background:rgba(245,158,11,0.1); padding:1px 5px; border-radius:3px;">message</code> is a human-readable explanation of what went wrong.</p>
            </div>
          </div>
        </details>
      parameters:
        - name: BOT_UNIQUE_NAME
          in: path
          required: true
          description: Unique name of the bot. To learn how to retrieve this, see <a href="/cliq/help/restapi/v3/glossary/#BOT_UNIQUE_NAME">BOT_UNIQUE_NAME</a> in the Glossary page.
          schema:
            type: string
          example: BOT_UNIQUE_NAME
        - name: user_ids
          in: query
          description: |
            Comma-separated user IDs to send the message to.<br>
            <b>Maxium 100 user IDs allowed.</b><br>
            Refer to <a href="/cliq/help/restapi/v3/glossary/#USER_ID">USER_ID</a> in the Glossary page for more details.
          required: false
          schema:
            type: string
        - name: extension_key
          in: query
          description: |
            Encrypted application key for the bot, used as an authentication alternative to OAuth.<br>
            Refer to <a href="/cliq/help/restapi/v3/glossary/#EXTENSION_KEY">EXTENSION_KEY</a> in the Glossary page.'
          required: false
          schema:
            type: string
      requestBody:
        description: |
          Custom parameters to pass to the bot's incoming webhook handler. All fields are user-defined - there are no fixed keys. Each parameter name and value is passed directly to the handler's Deluge script as part of the webhook payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotIncomingWebhookRequest'
            example:
              alert_type: deployment
              environment: production
              service_name: payment-gateway
              severity: critical
              triggered_by: CI/CD pipeline
        required: true
      responses:
        '200':
          description: Webhook message delivered successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotIncomingWebhookResponse'
              example:
                user_ids:
                  - '55743307'
                  - '55622727'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
        - Cliq_Auth:
            - ZohoCliq.Webhooks.CREATE
            - ZohoCliq.BotMessages.CREATE
      tags:
        - bots
  /bots/{BOT_UNIQUE_NAME}/calls:
    post:
      summary: Trigger Bot Calls
      operationId: Trigger Bot Calls
      description: |
        Utilize this API to send a voice alert to specific users via the bot.
        <br><br>
        <p>
          <b>Threshold limit</b>: 10 requests per 5 min per user<br>
          Number of API calls allowed within a minute.<br><br>
          <b>Lock period</b>: 30 minutes<br>Wait time before consecutive API requests.<br>
        </p>
        <details style="margin:16px 0 8px 0; border:1px solid rgba(148,163,184,0.5); border-radius:8px; font-family:inherit;" ontoggle="this.querySelector('.err-toggle-hint').textContent=this.open?'Click to collapse':'Click to expand'">
          <summary style="cursor:pointer; padding:11px 16px; font-weight:600; background:rgba(148,163,184,0.1); list-style:none; display:flex; align-items:center; gap:8px; user-select:none; border-radius:8px;">
            <span style="display:inline-flex; align-items:center; justify-content:center; width:20px; height:20px; background:rgba(239,68,68,0.15); border-radius:50%; font-size:12px; font-weight:700; color:#ef4444; flex-shrink:0;">!</span>
            Possible Error Codes
            <span class="err-toggle-hint" style="margin-left:auto; font-weight:400; opacity:0.45; font-size:0.8em; letter-spacing:0.01em;">Click to expand</span>
          </summary>
          <div style="padding:14px 16px 16px 16px;">
            <div style="border-radius:6px; border:1px solid rgba(148,163,184,0.35);">
              <table style="border-collapse:collapse; width:100%; font-family:inherit; font-size:0.9em;">
                <thead>
                  <tr>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); border-right:1px solid rgba(148,163,184,0.35); font-weight:600; width:45%;">Error Code</th>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); font-weight:600; width:55%;">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding:10px 18px; border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">bot_alert_not_enabled</span></td>
                    <td style="padding:10px 18px;">Voice call or alert is not enabled for this bot.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="background:rgba(245,158,11,0.08); border:1px solid rgba(245,158,11,0.4); border-left:4px solid #f59e0b; padding:12px 16px; border-radius:0 6px 6px 0; margin-top:14px; overflow:hidden;">
              <b style="color:#d97706; font-size:0.88em; display:block; margin-bottom:6px;">Error Response Format</b>
              <p style="margin:0 0 8px 0; font-size:0.85em; opacity:0.75;">When an error occurs, the API returns a JSON response in this format:</p>
              <code style="display:block; background:rgba(245,158,11,0.1); border:1px solid rgba(245,158,11,0.3); padding:8px 12px; border-radius:4px; font-size:0.75em; word-break:break-all;">{"message": "A human-readable description of the error.", "code": "error_code"}</code>
              <p style="margin:8px 0 0 0; font-size:0.85em; opacity:0.75;">where <code style="background:rgba(245,158,11,0.1); padding:1px 5px; border-radius:3px;">code</code> is the error identifier (as listed above) and <code style="background:rgba(245,158,11,0.1); padding:1px 5px; border-radius:3px;">message</code> is a human-readable explanation of what went wrong.</p>
            </div>
          </div>
        </details>
      parameters:
        - name: BOT_UNIQUE_NAME
          in: path
          required: true
          description: Unique identifier of the bot from which bot call needs to be triggered. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#BOT_UNIQUE_NAME">BOT_UNIQUE_NAME</a> in the Glossary page.
          schema:
            type: string
          example: BOT_UNIQUE_NAME
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trigger-Bot-Call-Request'
      responses:
        '200':
          description: The request was successfully completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bot-call-response'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
        - Cliq_Auth:
            - ZohoCliq.Webhooks.CREATE
            - ZohoCliq.BotMessages.CREATE
  /bots/{BOT_ID}/handlers:
    post:
      summary: Create a handler for a specific bot
      operationId: create_a_handler_for_a_bot
      description: |
        <a id="create_a_handler_for_a_bot"></a>
        <p>
          Create a handler for a specific bot by providing the handler type and the execution logic for that event.<br>
          Handlers define the bot's behavior for different trigger events. Refer <b><a href="https://www.zoho.com/cliq/help/platform/bots.html">introduction to bot handlers</a></b> in the documentation for more details on each handler type and when it is triggered.
        </p>
        <p>
          The way you define a handler depends on the bot's execution type:
        </p>
        <ul>
          <li><b>Deluge bot</b>: Provide the <code>script</code> attribute containing the Deluge source code to execute when the handler fires.</li>
          <li><b>Webhook bot</b>: Provide the <code>permissions</code> attribute - an array of data attributes that your external server needs to receive in the webhook payload when the handler is triggered. These define what contextual information Zoho Cliq includes in the POST request sent to your <code>execution_url</code>.</li>
        </ul>
        <p><b>Webhook Bots - Using <code>permissions</code></b></p>
        <p>
          For <b>Webhook bots</b>, the <code>permissions</code> array controls what contextual data Zoho Cliq appends to the POST request sent to your server when a handler fires. Only include permissions that are relevant to your server's logic.<br>
          <b>Maximum:</b> 5 permissions per handler.
        </p>
        <p><b>Allowed values for <code>permissions</code></b></p>
        <table style="border-collapse: collapse; width: 100%; font-family: inherit;">
          <tr>
            <th style="padding: 8px; text-align: left; border: 1px solid #ddd; font-family: inherit;">Permission</th>
            <th style="padding: 8px; text-align: left; border: 1px solid #ddd; font-family: inherit;">Data provided to your webhook</th>
          </tr>
          <tr>
            <td style="padding: 8px; border: 1px solid #ddd;"><code>chat</code></td>
            <td style="padding: 8px; border: 1px solid #ddd;">Chat context (chat ID, type, participants)</td>
          </tr>
          <tr>
            <td style="padding: 8px; border: 1px solid #ddd;"><code>message</code></td>
            <td style="padding: 8px; border: 1px solid #ddd;">Message content and metadata</td>
          </tr>
          <tr>
            <td style="padding: 8px; border: 1px solid #ddd;"><code>user</code></td>
            <td style="padding: 8px; border: 1px solid #ddd;">Sender's user profile details</td>
          </tr>
          <tr>
            <td style="padding: 8px; border: 1px solid #ddd;"><code>location</code></td>
            <td style="padding: 8px; border: 1px solid #ddd;">Sender's location data</td>
          </tr>
          <tr>
            <td style="padding: 8px; border: 1px solid #ddd;"><code>attachments</code></td>
            <td style="padding: 8px; border: 1px solid #ddd;">Attachment metadata and download info</td>
          </tr>
        </table>
        <p>
          <b>Permissions availability per handler type</b><br>
          Not all permissions are applicable to every handler. Passing a permission marked <code>-</code> will result in a validation error.
        </p>
        <table style="border-collapse: collapse; width: 100%; font-family: inherit;">
          <tr>
            <th style="padding: 8px; text-align: left; border: 1px solid #ddd; font-family: inherit;">Handler</th>
            <th style="padding: 8px; text-align: center; border: 1px solid #ddd; font-family: inherit;"><code>attachments</code></th>
            <th style="padding: 8px; text-align: center; border: 1px solid #ddd; font-family: inherit;"><code>chat</code></th>
            <th style="padding: 8px; text-align: center; border: 1px solid #ddd; font-family: inherit;"><code>location</code></th>
            <th style="padding: 8px; text-align: center; border: 1px solid #ddd; font-family: inherit;"><code>message</code></th>
            <th style="padding: 8px; text-align: center; border: 1px solid #ddd; font-family: inherit;"><code>user</code></th>
          </tr>
          <tr>
            <td style="padding: 8px; border: 1px solid #ddd;"><code>welcome_handler</code></td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
          </tr>
          <tr>
            <td style="padding: 8px; border: 1px solid #ddd;"><code>message_handler</code></td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
          </tr>
          <tr>
            <td style="padding: 8px; border: 1px solid #ddd;"><code>mention_handler</code></td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
          </tr>
          <tr>
            <td style="padding: 8px; border: 1px solid #ddd;"><code>context_handler</code></td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
          </tr>
          <tr>
            <td style="padding: 8px; border: 1px solid #ddd;"><code>incoming_webhook_handler</code></td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
          </tr>
          <tr>
            <td style="padding: 8px; border: 1px solid #ddd;"><code>participation_handler</code></td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
          </tr>
          <tr>
            <td style="padding: 8px; border: 1px solid #ddd;"><code>menu_handler</code></td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">✓</td>
          </tr>
          <tr>
            <td style="padding: 8px; border: 1px solid #ddd;"><code>alert_handler</code></td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">-</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #ddd;">&#10003;</td>
          </tr>
        </table>
        <p><b>Bot Menu Actions (<code>menu_handler</code>)</b></p>
        <p>
          Both Deluge and Webhook bots support menu handlers, which add quick-action items to the bot's chat menu. When creating a <code>menu_handler</code>, two additional fields apply regardless of execution type:
        </p>
        <ul>
          <li><code>name</code> (required): Label shown in the menu. Max 15 characters.</li>
          <li><code>icon</code> (optional): Icon in <code>{icon-name}/{HEX_COLOR}</code> format. Example: <code>wand/FF5733</code>.</li>
        </ul>
        <p>
          <b>Threshold limit</b>: 10 requests per min per user<br>
          Number of API calls allowed within a minute.<br><br>
          <b>Lock period</b>: 5 minutes<br>
          Wait time before consecutive API requests.
        </p>
        <details style="margin:16px 0 8px 0; border:1px solid rgba(148,163,184,0.5); border-radius:8px; font-family:inherit;" ontoggle="this.querySelector('.err-toggle-hint').textContent=this.open?'Click to collapse':'Click to expand'">
          <summary style="cursor:pointer; padding:11px 16px; font-weight:600; background:rgba(148,163,184,0.1); list-style:none; display:flex; align-items:center; gap:8px; user-select:none; border-radius:8px;">
            <span style="display:inline-flex; align-items:center; justify-content:center; width:20px; height:20px; background:rgba(239,68,68,0.15); border-radius:50%; font-size:12px; font-weight:700; color:#ef4444; flex-shrink:0;">!</span>
            Possible Error Codes
            <span class="err-toggle-hint" style="margin-left:auto; font-weight:400; opacity:0.45; font-size:0.8em; letter-spacing:0.01em;">Click to expand</span>
          </summary>
          <div style="padding:14px 16px 16px 16px;">
            <div style="border-radius:6px; border:1px solid rgba(148,163,184,0.35);">
              <table style="border-collapse:collapse; width:100%; font-family:inherit; font-size:0.9em;">
                <thead>
                  <tr>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); border-right:1px solid rgba(148,163,184,0.35); font-weight:600; width:45%;">Error Code</th>
                    <th style="padding:10px 18px; text-align:center; background:rgba(148,163,184,0.15); border-bottom:1px solid rgba(148,163,184,0.35); font-weight:600; width:55%;">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">execution_handler_create_failed</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">Failed to create the execution handler.</td>
                  </tr>
                  <tr style="background:rgba(148,163,184,0.05);">
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">execution_handler_data_required</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">Required handler data is missing.</td>
                  </tr>
                  <tr>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2); border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">execution_handler_data_invalid</span></td>
                    <td style="padding:10px 18px; border-bottom:1px solid rgba(148,163,184,0.2);">Provided handler data is invalid.</td>
                  </tr>
                  <tr style="background:rgba(148,163,184,0.05);">
                    <td style="padding:10px 18px; border-right:1px solid rgba(148,163,184,0.25); vertical-align:middle;"><span style="display:inline-block; background:rgba(239,68,68,0.12); color:#ef4444; padding:3px 10px; border-radius:4px; font-family:monospace; font-size:0.82em; line-height:1.6; word-break:break-all;">invalid_inputs</span></td>
                    <td style="padding:10px 18px;">Invalid handler type or malformed request body.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="background:rgba(245,158,11,0.08); border:1px solid rgba(245,158,11,0.4); border-left:4px solid #f59e0b; padding:12px 16px; border-radius:0 6px 6px 0; margin-top:14px; overflow:hidden;">
[...]
