openapi: 3.2.0
info:
  title: Zoho Cliq Chats API
  version: 1.0.0
  contact: {}
  description: 'Operations tagged chats across 3 of this provider''s published API definitions: chats.yml, mentions.yml, threads.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://cliq.zoho.com/api/v3
  description: Zoho Cliq US DC
tags:
- name: Chats
  description: Chats Module
paths:
  /chats:
    get:
      summary: Retrieve all direct chats
      operationId: RetrieveAllDirectChats
      description: 'Use this API to get details of all direct chats.


        Threshold limit: 30 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 10 minutes

        Wait time before consecutive API requests.'
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: 'Search for chats with names that partially match the provided value.<br>

          For example, searching with "pro" may return chats named "Project Alpha" and "Product Launch".

          '
      - name: recipient
        in: query
        required: false
        schema:
          type: string
        description: 'Filter chats containing recipient.<br>

          Provide the recipient <code>USER_ID</code> to return chats that include that user as a participant.<br>

          To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#USER_ID">USER_ID</a> in the Glossary page.<br>

          For example, searching with <code>70027934</code> returns chats that include that user ID.

          '
      - name: muted
        in: query
        required: false
        schema:
          type: boolean
        description: 'Set this parameter to true to retrieve the list of chats which are muted by the user.

          '
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
          maxLength: 100
        description: 'The number of chats that has to be retrieved.<br>

          <b>Maximum limit</b> : 100

          '
      - name: modified_before
        in: query
        required: false
        schema:
          type: integer
          format: int64
        description: 'Gets the list of chats where the last message is sent before the mentioned time.

          <br>

          The time should be in <b>epoch milliseconds</b> format.<br>For example, <code>1711929600000</code>.

          '
      - name: modified_after
        in: query
        required: false
        schema:
          type: integer
          format: int64
        description: 'Gets the list of chats where the last message is sent after the mentioned time.

          <br>

          The time should be in <b>epoch milliseconds</b> format.<br>For example, <code>1711929600000</code>.

          '
      - name: drafts
        in: query
        required: false
        schema:
          type: boolean
        description: 'Set this parameter to true to retrieve the list of chats which have unsent messages (drafts).

          '
      - name: pinned
        in: query
        required: false
        schema:
          type: boolean
        description: 'Set this parameter to true to retrieve the list of chats which are pinned by the user.

          '
      - name: closed
        in: query
        required: false
        schema:
          type: boolean
        description: 'Set this parameter to true to retrieve the list of chats which are closed by the user.

          '
      - name: joined
        in: query
        required: false
        schema:
          type: boolean
        description: 'Set this parameter to true to retrieve the list of chats which are joined by the user.

          '
      - name: chat_ids
        in: query
        required: false
        schema:
          type: string
        description: 'Comma-separated list of chat IDs to filter the chats.<br>

          To learn how to retrieve these IDs, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.<br>

          '
      - name: parent_chid
        in: query
        required: false
        schema:
          type: string
        description: 'Filter chats that are threads of a specific parent chat. Provide the parent chat''s <code>CHAT_ID</code> to return all threads under that chat.<br>

          To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.<br>

          '
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - guests
          - threads
          - channel
          - bot
          - dm
          - muted
        description: "Filter chats by type.<br>\n<b>Allowed values</b>:<br>\n<ul>\n  <li><code>threads</code> - Chats that are threads of a parent chat.</li>\n  <li><code>channel</code> - Channel conversations.</li>\n  <li><code>bot</code> - Conversations with bots.</li>\n  <li><code>dm</code> - Direct messages between users.</li>\n  <li><code>muted</code> - Chats that are muted by the user.</li>\n</ul>\n"
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                success:
                  summary: List of direct chats
                  value:
                    chats:
                    - chat_id: '2890538000000012345'
                      name: Alice Johnson
                      chat_type: direct_message
                      participant_count: 2
                      created_time: '2024-06-01T09:00:00.000Z'
                      last_modified_time: '2025-04-10T14:30:00.000Z'
                      pinned: false
                      removed: false
                      creator:
                        id: '70027934'
                        name: Tim Harrison
                      last_message_info:
                        message_id: '1773813859592_51531973059'
                        sender: '70027934'
                        time: '2025-04-10T14:30:00.000Z'
                        content:
                          text: See you at the standup!
                        type: text
                    - chat_id: '2890538000000067890'
                      name: Bob Carter
                      chat_type: direct_message
                      participant_count: 2
                      created_time: '2024-09-15T11:00:00.000Z'
                      last_modified_time: '2025-04-09T09:45:00.000Z'
                      pinned: true
                      removed: false
                      creator:
                        id: '70027934'
                        name: Tim Harrison
              schema:
                type: object
                properties:
                  chats:
                    type: array
                    items:
                      $ref: '#/components/schemas/v3-chat'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.READ
      tags:
      - Chats
      x-operation-id-source: normalized
      x-operation-id-original: Retrieve all direct chats
    post:
      summary: Create chat
      operationId: createChatV3
      description: 'Create a new direct conversation or a group chat.


        Threshold limit: 30 requests per min


        Number of API calls allowed within a minute.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        121_deptmem_message

        Permission to chat with department members is restricted by admin.


        121_orgmem_message

        Permission to chat with organization members is restricted by admin.


        chat_continue_nonorg_nonmutual_contact_failed

        The user is no longer part of your contacts or organization.


        121_extmem_message

        Permission to chat with external users is restricted by admin.


        chat_not_available_with_this_inactive_user_and_cannot_create_newchat

        No chat history with this inactive user; cannot create a new chat.


        invalid_inputs

        Missing or invalid fields (e.g. chat_type not provided or unsupported).


        no_valid_users_available_to_create_chat

        All specified users are inactive or not in your contacts.


        insufficient_members_to_create_group_chat

        Not enough valid members to create a group chat (minimum 3 including creator).


        chat_operation_failed

        Unexpected server error while creating the chat.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      requestBody:
        required: true
        content:
          application/json:
            examples:
              direct_chat:
                summary: Direct Chat
                value:
                  chat_type: direct_message
                  user_id: '70027934'
              group_chat:
                summary: Group Chat
                value:
                  chat_type: group_chat
                  user_ids:
                  - '70027934'
                  - '106324287'
                  - '70317945'
                  - '72589892'
                  title: Q2 Product Review - Design, Engineering & QA
            schema:
              $ref: '#/components/schemas/v3-create-chat-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                direct_chat:
                  summary: Direct Chat response
                  value:
                    url: /v3/chats
                    type: chat
                    data:
                      user_membership:
                        pinned: false
                        removed: false
                      chat_type: direct_message
                      name: Ryan West
                      creator:
                        name: Ryan West
                        id: '855727963'
                      participant_count: 2
                      created_time: '2024-11-06T22:39:30-08:00'
                      last_modified_time: '2026-05-06T23:37:30-07:00'
                      chat_id: '2198144177691461096'
                group_chat:
                  summary: Group Chat response
                  value:
                    url: /v3/chats
                    type: chat
                    data:
                      name: Q2 Product Review - Design, Engineering & QA
                      chat_id: '1456816193674892935'
                      chat_type: group_chat
                      participant_count: 5
                      created_time: '2025-06-15T10:30:00+05:30'
                      last_modified_time: '2025-06-15T10:30:00+05:30'
                      user_membership:
                        pinned: false
                        removed: false
                      creator:
                        id: '70027934'
                        name: Tim Harrison
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/v3-chat'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.CREATE
      tags:
      - Chats
    put:
      summary: Mark Multiple Chats as Read or Clear Unread Count
      operationId: bulkUpdateChatsV3
      description: 'Manage the read state of multiple chats in a single request.


        Two bulk actions are supported, controlled by the operation field in the request body:


        read_status_update- Manage the read status of multiple chats in a single request. This is particularly useful for keeping your chat list organized and up-to-date, especially when you have a large number of conversations.


        clear_unread - Clears the unread message count or status to zero for the specified chats. If a specified chat has no unread entries, it is silently skipped.


        Threshold limits: 60 requests per min


        Number of API calls allowed within a minute.


        Lock periods: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Possible Error Codes - Mark Chats as Read (read_status_update)


        Error Code

        Description


        param_missing

        The param ''operation'' is missing.


        param_missing

        The param ''read_status'' is missing.


        param_missing

        The param ''chats'' is missing.


        param_missing

        The param ''chat_id'' is missing.


        invalid.inputs.submitted

        Incorrect values submitted.


        chat_access_denied

        You must be a participant in this chat to perform this action.


        chat_operation_failed

        Unable to perform the action. Please retry.


        Possible Error Codes - Clear Unread Count (clear_unread)


        Error Code

        Description


        param_missing

        The param ''operation'' is missing.


        param_missing

        One or more required params are missing: operation or chat_ids.


        invalid.inputs.submitted

        Incorrect values submitted.


        chat_operation_failed

        Unable to perform the action. Please retry.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      requestBody:
        required: true
        content:
          application/json:
            examples:
              read_status_update:
                summary: Mark multiple chats as read
                value:
                  operation: read_status_update
                  read_status: read
                  chats:
                  - chat_id: '2890538000000012345'
                    last_message_id: '1773813859592_51531973059'
                  - chat_id: '2890538000000067890'
                    last_message_id: '1773813860210_51531973060'
              clear_unread:
                summary: Clear unread count for multiple chats
                value:
                  operation: clear_unread
                  chat_ids:
                  - '2890538000000012345'
                  - '2890538000000067890'
            schema:
              $ref: '#/components/schemas/v3-bulk-chat-update-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                read_status_update:
                  summary: Mark as read - success/failure breakdown
                  value:
                    type: chat.read_status
                    data:
                      success:
                      - '2890538000000012345'
                      - '2890538000000067890'
                      failure: []
                clear_unread:
                  summary: Clear unread count
                  value:
                    Response Code: 204 No response
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: chat.read_status
                  data:
                    type: object
                    additionalProperties: true
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.UPDATE
      tags:
      - Chats
    servers:
    - url: https://cliq.zoho.com/api/v3
      description: Zoho Cliq US DC
  /chats/search:
    get:
      summary: Search chats
      operationId: searchChatsV3
      description: 'Search for chats accessible to the current user. You can filter by name, type, date range, participant, and more.


        Threshold limit: 50 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 10 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        invalid.inputs.submitted

        An invalid value was passed (e.g. unrecognised chat_type or sort_by).


        invalid.time.submitted

        modified_before or modified_after is not a valid timestamp, or modified_after is not earlier than modified_before.


        invalid_access

        The user is not a member of the organisation.


        chat_operation_failed

        An unexpected server-side error occurred.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: title
        in: query
        required: false
        schema:
          type: string
          maxLength: 200
        description: 'Search for chats that include this keyword in their names. The search should be case-insensitive and allow for partial matches.<br>

          <b>Maximum length</b>: 200 characters

          '
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          default: 500
        description: 'The maximum number of chats to return.<br>

          <b>Maximum limit</b>: 500. Default is 500 if not specified.

          '
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
        description: 'Search and return only chats last modified before this time.<br>

          Accepts either epoch time in milliseconds (for example, <code>1711929600000</code>) or <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a> format (for example, <code>2024-04-01T00:00:00Z</code>).<br>

          Use the same time format consistently across both <code>modified_before</code> and <code>modified_after</code> in a request for predictable filtering.

          <b>Note:</b> When both modified_before and modified_after are provided, modified_after must be earlier than modified_before.

          '
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
        description: 'Search and return only chats last modified after this time.<br>

          Accepts either epoch time in milliseconds (for example, <code>1711929600000</code>) or <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a> format (for example, <code>2024-04-01T00:00:00Z</code>).<br>

          Use the same time format consistently across both <code>modified_before</code> and <code>modified_after</code> in a request for predictable filtering.

          <b>Note:</b> When both modified_before and modified_after are provided, modified_after must be earlier than modified_before.

          '
      - name: recipient
        in: query
        required: false
        schema:
          type: string
        description: 'Filter by recipient user ID. Returns chats where this user is a participant. For direct messages, this will be the other participant; for group chats, this can be any member.

          '
      - name: chat_type
        in: query
        required: false
        schema:
          type: string
        description: 'Filter by chat type.

          Allowed values:<br><code>direct_message</code>, <code>group_chat</code>, <code>channel</code>, <code>thread</code>. You can specify multiple types separated by commas (e.g. <code>direct_message,group_chat</code>) to include multiple chat types in the results.

          '
      - name: parent_chat_id
        in: query
        required: false
        schema:
          type: string
        description: 'Restrict results to threads belonging to this parent chat. Only applicable when filtering for thread-type chats.

          '
      - name: sort_by
        in: query
        required: false
        schema:
          type: string
          enum:
          - usage
          - recent
          default: recent
        description: "Sort results by usage or recent activity.<br>\n<b>Allowed values</b>:<br>\n<ul>\n  <li><code>usage</code>: Sort by usage frequency, with the most frequently accessed chats appearing first.</li>\n  <li><code>recent</code>: Sort by recent activity, with the most recently active chats appearing first. This is the default sorting method.</li> \n</ul>\n"
      responses:
        '200':
          description: The request was successfully completed. Returns a list of matching chats.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chats:
                    type: array
                    items:
                      $ref: '#/components/schemas/v3-chat'
              examples:
                multiple_chats:
                  summary: Multiple chats found
                  value:
                    chats:
                    - chat_id: 6795XXXXXXXXXXXXXX
                      name: General
                      chat_type: channel
                      participant_count: 42
                      created_time: '2024-01-10T09:00:00.000Z'
                      last_modified_time: '2025-03-20T14:30:00.000Z'
                      pinned: false
                      removed: false
                      creator:
                        id: 711622XXXX
                        name: Alice
                      last_message_info:
                        message_id: '1710934200000'
                        sender: 711622XXXX
                        time: '2025-03-20T14:30:00.000Z'
                        content:
                          text: Hello everyone!
                        type: text
                    - chat_id: 6795YYYYYYYYYYYY
                      name: Bob
                      chat_type: direct_message
                      participant_count: 2
                      created_time: '2024-06-01T10:00:00.000Z'
                      last_modified_time: '2025-03-18T11:00:00.000Z'
                      pinned: false
                      removed: false
        '400':
          description: Bad Request. Invalid parameter values submitted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                invalid_inputs:
                  summary: Invalid input parameters
                  value:
                    error:
                      code: invalid.inputs.submitted
                      message: An invalid value was passed. Please check chat_type or sort_by parameters.
                invalid_time:
                  summary: Invalid timestamp
                  value:
                    error:
                      code: invalid.time.submitted
                      message: Invalid timestamp format or modified_after must be earlier than modified_before.
        '401':
          description: Unauthorized. Invalid or missing authentication token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                unauthorized:
                  summary: Invalid auth token
                  value:
                    error:
                      code: unauthorized
                      message: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden. User does not have access to this resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                invalid_access:
                  summary: Access denied
                  value:
                    error:
                      code: invalid_access
                      message: You are not a member of this organisation or do not have permission to access this resource.
        '429':
          description: Too many requests. Rate limit exceeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                rate_limit:
                  summary: Rate limit exceeded
                  value:
                    error:
                      code: rate_limit_exceeded
                      message: Too many requests within a certain time frame. Please try again later.
        '500':
          description: Internal Server Error. An unexpected server-side error occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                server_error:
                  summary: Server error
                  value:
                    error:
                      code: chat_operation_failed
                      message: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.READ
      tags:
      - Chats
    servers:
    - url: https://cliq.zoho.com/api/v3
      description: Zoho Cliq US DC
  /chats/{CHAT_ID}:
    get:
      summary: Retrieve chat details
      operationId: getChatV3
      description: 'Retrieve details of a specific chat by its unique identifier. You can specify optional fields to include in the response for more efficient data retrieval.


        Threshold limit: 60 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        chat_access_denied

        You must be a participant in this chat to perform this action.


        chat_operation_failed

        Unable to perform the action. Please retry.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: CHAT_ID
        in: path
        required: true
        schema:
          type: string
        example: CHAT_ID
        description: The unique identifier of the chat. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.
      - name: fields
        in: query
        required: false
        schema:
          type: string
        description: 'Comma-separated list of response fields to include (max 20).<br>

          By default, a standard set of fields is returned. Use this parameter to include additional fields or to optimize performance by excluding unnecessary data.<br>

          <b>Example</b>: <code>https://cliq.zoho.com/api/v3/chats/{CHAT_ID}?fields=title,chat_type,participant_count,permissions</code>

          '
      - name: include
        in: query
        required: false
        schema:
          type: string
        description: "Comma-separated list of additional data to include in the response.<br>\n<b>Allowed value</b>: \n<ul>\n  <li><code>last_message_info</code>: Includes details of the last message in the chat, such as message ID, sender, timestamp, content preview, and message type.</li>\n</ul>\nBy default, last message information is not returned. Specify <code>include=last_message_info</code> to include it in the response.<br>\n<b>Example</b>: <code>https://cliq.zoho.com/api/v3/chats/{CHAT_ID}?include=last_message_info</code>\n"
      responses:
        '200':
          description: The request was successfully completed.
          content:
            application/json:
              examples:
                get_chat:
                  summary: Chat details
                  value:
                    type: chat
                    data:
                      chat_id: '2890538000000012345'
                      name: Q2 Product Review - Design, Engineering & QA
                      chat_type: group_chat
                      participant_count: 5
                      created_time: '2025-06-15T10:30:00+05:30'
                      last_modified_time: '2025-06-15T10:30:00+05:30'
                      pinned: false
                      removed: false
                      creator:
                        id: '70027934'
                        name: Tim Harrison
                      unread_message_count: 3
                get_chat_with_last_message_info:
                  summary: Chat details with last message info
                  value:
                    type: chat
                    data:
                      chat_id: '2890538000000012345'
                      name: Q2 Product Review - Design, Engineering & QA
                      chat_type: group_chat
                      participant_count: 5
                      created_time: '2025-06-15T10:30:00+05:30'
                      last_modified_time: '2025-06-15T10:30:00+05:30'
                      pinned: false
                      removed: false
                      creator:
                        id: '70027934'
                        name: Tim Harrison
                      unread_message_count: 3
                      last_message_info:
                        message_id: '1773813859592_51531973059'
                        sender: '70027934'
                        time: '2025-06-15T10:30:00+05:30'
                        content:
                          text: Let's sync up before the review.
                        type: text
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: chat
                  data:
                    $ref: '#/components/schemas/v3-chat'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.READ
      tags:
      - Chats
    put:
      summary: Update chat title or history status
      operationId: updateChatV3
      description: 'Modify a chat''s title or history status. Only one operation can be performed per request.


        Supported operations:


        update_title: Updates the visible title of the chat. Pass the new title in the title field.


        update_history_status : Controls whether chat history is retained. Set history_status to enabled or disabled.


        Threshold limits:


        update_title: 60 req/min


        update_history_status: 60 req/min


        Lock periods:


        update_title: 10 min


        update_history_status: 10 min


        !

        Possible Error Codes

        Click to expand


        Possible Error Codes - Update Title (update_title)


        Error Code

        Description


        param_missing

        The param ''operation'' is missing.


        param_missing

        The param ''title'' is missing.


        invalid.inputs.submitted

        Incorrect values submitted.


        chat_title_empty

        Title cannot be empty. Please enter a valid title.


        channel_title_update_not_supported

        Channel title update is not supported through this API.


        contact_rename_not_supported

        Renaming contacts in one-to-one chats is not allowed when contact display name is not preferred.


        chatlet_title_modification_not_allowed

        You do not have permission to modify the title of this chatlet.


        chat_access_denied

        You must be a participant in this chat to perform this action.


        chat_title_update_failed

        Failed to update the chat title. Please try again.


        chat_operation_failed

        Unable to perform the action. Please retry.


        Possible Error Codes - Update History Status (update_history_status)


        Error Code

        Description


        param_missing

        The param ''operation'' is missing.


        param_missing

        The param ''history_status'' is missing.


        invalid.inputs.submitted

        Incorrect values submitted.


        chat_access_denied

        You must be a participant in this chat to perform this action.


        chat_operation_failed

        Unable to perform the action. Please retry.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: CHAT_ID
        in: path
        required: true
        schema:
          type: string
        example: CHAT_ID
        description: The unique identifier of the chat. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.
      requestBody:
        required: true
        content:
          application/json:
            examples:
              update_title:
                summary: Update chat title
                value:
                  operation: update_title
                  title: Quarterly Rewards
              update_history_status:
                summary: Update history status
                value:
                  operation: update_history_status
                  history_status: enabled
            schema:
              type: object
              properties:
                operation:
                  type: string
                  description: "The update operation to perform on the chat.<br>\n<b>Allowed values</b>:<br>\n<ul>\n   <li><b>update_title</b>: Updates the visible title of the chat. Requires the <code>title</code> field.</li>\n   <li><b>update_history_status</b>: Controls whether chat history is retained. Requires the <code>history_status</code> field set to either <code>enabled</code> or <code>disabled</code>.</li>\n </ul>\n"
                  enum:
                  - update_title
                  - update_history_status
                title:
                  type: string
                  maxLength: 255
                  description: 'The new title for the chat. Required when <code>operation</code> is <code>update_title</code>.<br>

                    <b>Maximum length</b>: 255 characters.

                    '
                history_status:
                  type: string
                  description: 'The history status for the chat. Required when <code>operation</code> is <code>update_history_status</code>.<br>

                    <b>Allowed values</b>:<br>

                    <ul>

                    <li><b>enabled</b>: Chat history will be retained.</li>

                    <li><b>disabled</b>: Chat history will not be retained.</li>

                    </ul>

                    '
                  enum:
                  - enabled
                  - disabled
      responses:
        '200':
          description: OK. Returns updated chat data for <code>update_title</code>.
          content:
            application/json:
              examples:
                update_title:
                  summary: Title updated successfully
                  value:
                    type: chat.title
                    data:
                      title: Quarterly Rewards
                      chat_id: '1424358626334691820'
                update_history_status:
                  summary: History status updated successfully
                  value: 204 No response
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: chat.title
                  data:
                    type: object
                    properties:
                      title:
                        type: string
                        example: qa_renamed_xwswhsyz
                      chat_id:
                        type: string
                        example: '1424358626334691820'
        '204':
          description: No Content - returned for <code>update_history_status</code> operation. No response body.
          content:
            application/json:
              examples:
                update_history_status:
                  summary: History status updated successfully
                  value: {}
              schema:
                $ref: '#/components/schemas/NoResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.UPDATE
      tags:
      - Chats
    servers:
    - url: https://cliq.zoho.com/api/v3
      description: Zoho Cliq US DC
  /chats/{CHAT_ID1}:
    put:
      summary: Update Chat Read or Unread Status
      operationId: markChatAsUnreadV3
      x-display-path: /chats/{CHAT_ID}
      x-virtual-endpoint: true
      x-virtual-operation: true
      x-note: 'CHAT_ID1 is a documentation alias for CHAT_ID to differentiate the two PUT operations under the same endpoint. This is to display both operations in the API reference. In actual API calls, use /chats/{CHAT_ID} for both operations and specify the desired operation in the request body.

        '
      description: 'Marks a single chat as read or unread for the calling user.


        Supported operations:


        mark_as_read: Marks the chat as read up to a specific message. Pass the last_message_id of the chat till to be read.


        mark_as_unread: Marks the chat as unread from a specific message. Pass the target message_id.


        Threshold limit: 60 requests per min


        Number of API calls allowed within a minute.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        invalid.inputs.submitted

        Invalid inputs


        chat_access_denied

        Caller is not a participant of this chat


        chat_operation_failed

        Unexpected server error


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: CHAT_ID1
        in: path
        required: true
        schema:
          type: string
        example: CHAT_ID
        description: "The unique identifier of the chat. Accepts the same chat ID format as CHAT_ID. To learn how to retrieve this ID, see <a href=\"/cliq/help/restapi/v3/glossary/#CHAT_ID\">CHAT_ID</a> in the Glossary page.<br><br> \n<b>Note:</b> <code>CHAT_ID1</code> is a documentation alias for <code>CHAT_ID</code>, used to separate the \"Update Chat Read or Unread Status\" operation for better readability while sharing the same <code>/chats/{CHAT_ID}</code> endpoint.\n"
      requestBody:
        required: true
        content:
          application/json:
            examples:
              mark_as_read:
                summary: Mark chat as read
                value:
                  operation: mark_as_read
                  last_message_id: '1773813859592_51531973059'
              mark_as_unread:
                summary: Mark chat as unread
                value:
                  operation: mark_as_unread
                  message_id: '1773813859592_51531973059'
            schema:
              type: object
              required:
              - operation
              properties:
                operation:
                  type: string
                  description: "The update operation to perform on the chat.<br>\n<b>Allowed values</b>:<br>\n<ul>\n   <li><b>mark_as_read</b>: Marks the chat as read up to a specific message. Requires the <code>last_message_id</code> field.</li>\n   <li><b>mark_as_unread</b>: Marks the chat as unread from a specific message. Requires the <code>message_id</code> field indicating the message from which to mark as unread.</li>\n </ul>\n"
                  enum:
                  - mark_as_read
                  - mark_as_unread
                last_message_id:
                  type: string
                  description: 'The last message ID of the chat till to be read. Required when <code>operation</code> is <code>mark_as_read</code>.

                    '
                message_id:
                  type: string
                  description: 'The message from which to start the unread marker. Required when <code>operation</code> is <code>mark_as_unread</code>.

                    '
      responses:
        '204':
          description: No Content - operation completed successfully. No response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.UPDATE
      - Cliq_Auth:
        - ZohoCliq.Messages.UPDATE
      tags:
      - Chats
    servers:
    - url: https://cliq.zoho.com/api/v3
      description: Zoho Cliq US DC
  /chats/{CHAT_ID2}:
    put:
      summary: Clear Local Chat History
      operationId: clearChatMessagesV3
      x-display-path: /chats/{CHAT_ID}
      x-virtual-endpoint: true
      x-virtual-operation: true
      x-note: 'CHAT_ID2 is a documentation alias for CHAT_ID to differentiate the two PUT operations under the same endpoint. This is to display both operations in the API reference. In actual API calls, use /chats/{CHAT_ID} for both operations and specify the desired operation in the request body.

        '
      description: 'Clears the local message history of a chat for the current user. The chat itself and all members remain intact; only the locally visible message history is cleared.

        Only supported for direct messages and group chats.


        Threshold limit: 60 requests per min


        Number of API calls allowed within a minute.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        param_missing

        The param ''operation'' is missing.


        invalid.inputs.submitted

        Incorrect values submitted.


        chat_clear_local_history_not_supported

        Clear local history is only supported for direct messages and group chats.


        chat_access_denied

        You must be a participant in this chat to perform this action.


        chat_clear_local_history_failed

        Unable to clear local history. Please retry.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: CHAT_ID2
        in: path
        required: true
        schema:
          type: string
        example: CHAT_ID
        description: 'The unique identifier of the chat. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.

          <br><br>

          <b>Note:</b> <code>CHAT_ID2</code> is a documentation alias for <code>CHAT_ID</code>, used to separate the "Clear Local Chat History" operation for better readability while sharing the same <code>/chats/{CHAT_ID}</code> endpoint.

          '
      requestBody:
        required: true
        content:
          application/json:
            examples:
              clear_local_history:
                summary: Clear local chat history
                value:
                  operation: clear_local_history
            schema:
              type: object
              required:
              - operation
              properties:
                operation:
                  type: string
                  description: The operation to perform. Must be set to <code>clear_local_history</code> to clear the local chat history.
                  enum:
                  - clear_local_history
      responses:
        '204':
          description: No Content - local chat history cleared successfully. No response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.UPDATE
      tags:
      - Chats
    servers:
    - url: https://cliq.zoho.com/api/v3
      description: Zoho Cliq US DC
  /chats/{CHAT_ID3}:
    put:
      summary: Close a chat
      operationId: closeChatV3
      x-display-path: /chats/{CHAT_ID}
      x-virtual-endpoint: true
      x-virtual-operation: true
      x-note: 'CHAT_ID3 is a documentation alias for CHAT_ID to differentiate the two PUT operations under the same endpoint. This is to display both operations in the API reference. In actual API calls, use /chats/{CHAT_ID} for both operations and specify the desired operation in the request body.

        '
      description: 'Closes a chat by removing it from the recent chats list of the user. The chat will still be accessible through search and other means, all members remain intact and only the visibility in recent chats is affected.


        Threshold limit: 60 requests per min


        Number of API calls allowed within a minute.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        chat_access_denied

        Caller is not a participant of this chat.


        chat_operation_failed

        Unexpected server error.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: CHAT_ID3
        in: path
        required: true
        schema:
          type: string
        example: CHAT_ID
        description: 'The unique identifier of the chat. Accepts the same chat ID format as CHAT_ID. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.<br><br>

          <b>Note:</b> <code>CHAT_ID3</code> is a documentation alias for <code>CHAT_ID</code>, used to separate the "Close a chat" operation for better readability while sharing the same <code>/chats/{CHAT_ID}</code> endpoint.

          '
      requestBody:
        required: true
        content:
          application/json:
            examples:
              close_chat:
                summary: Close a chat
                value:
                  operation: close_chat
            schema:
              type: object
              required:
              - operation
              properties:
                operation:
                  type: string
                  description: The operation to perform. Must be set to <code>close_chat</code> to remove the chat from recent chats.
                  enum:
                  - close_chat
      responses:
        '204':
          description: No Content - chat removed from recent chats successfully. No response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.UPDATE
      tags:
      - Chats
    servers:
    - url: https://cliq.zoho.com/api/v3
      description: Zoho Cliq US DC
  /chats/{CHAT_ID}/members:
    get:
      summary: Retrieve members of a chat
      operationId: RetrieveMembersOfAChat
      description: 'Use this API to retrieve the list of members participating in a channel or group chat.


        Common use cases:


        Render a participant panel for a channel or group chat in your app UI.


        Show participant identity fields (name, email_id, user_id) using the fields query parameter.


        Audit chat membership before running automations or sending targeted messages.


        Threshold limit: 20 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 10 minutes

        Wait time before consecutive API requests.'
      parameters:
      - name: CHAT_ID
        in: path
        required: true
        schema:
          type: string
        example: CHAT_ID
        description: The unique identifier of the chat. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.
      - name: fields
        in: query
        required: false
        schema:
          type: string
        description: "Use this parameter to get details of members participating in the chat.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><b>user_id</b> - Unique identifier for the user in Cliq.</li>\n  <li><b>email_id</b> - Email address of the user.</li>\n  <li><b>name</b> - Display name of the user.</li>\n</ul>\n<br><br>\n"
      responses:
        '200':
          description: The request was successfully completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retrieve-chat-members'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.READ
      tags:
      - Chats
      x-operation-id-source: normalized
      x-operation-id-original: Retrieve members of a chat
    post:
      summary: Add members to a chat
      operationId: addMembersToChatV3
      description: 'Adds one or more users to an existing group chat.


        Threshold limit: 20 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 10 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        group_chat_participants_limit_exceeded

        The maximum number of participants for this chat has been reached.


        one_to_one_chat_add_member_not_allowed

        Adding members to a one-to-one chat is not allowed.


        chat_with_other_org_disabled

        Adding members from other organizations is disabled.


        member_add_failed

        An unexpected error occurred while adding members.


        service_unavailable

        The messaging service is temporarily unavailable. Please try again later.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: CHAT_ID
        in: path
        required: true
        schema:
          type: string
        example: CHAT_ID
        description: The unique identifier of the chat. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.
      requestBody:
        required: true
        content:
          application/json:
            examples:
              add_members:
                summary: Add members to a group chat
                value:
                  user_ids:
                  - '55743307'
                  - '55622727'
            schema:
              $ref: '#/components/schemas/v3-add-members-request'
      responses:
        '200':
          description: The request was successfully completed.
          content:
            application/json:
              examples:
                add_members:
                  summary: Members added successfully
                  value:
                    type: chat.member
                    data:
                      chat_id: '2971901296197152390'
                      added_user_ids:
                      - '55743307'
                      - '55622727'
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: chat.member
                  data:
                    type: object
                    properties:
                      chat_id:
                        type: string
                      added_user_ids:
                        type: array
                        items:
                          type: string
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
        '503':
          description: Service Unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The messaging service is temporarily unavailable. Please try again later.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.UPDATE
      tags:
      - Chats
    delete:
      summary: Remove members from a chat
      operationId: removeMembersFromChatV3
      description: 'Removes one or more users from an existing group chat.


        Threshold limit: 20 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 10 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        one_to_one_chat_delete_member_not_allowed

        Removing members from a one-to-one chat is not allowed.


        member_delete_failed

        An unexpected error occurred while removing members.


        service_unavailable

        The messaging service is temporarily unavailable. Please try again later.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: CHAT_ID
        in: path
        required: true
        schema:
          type: string
        example: CHAT_ID
        description: The unique identifier of the chat. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.
      - name: user_ids
        in: query
        required: true
        schema:
          type: string
        description: Comma-separated list of user IDs to remove.
      responses:
        '200':
          description: The request was successfully completed.
          content:
            application/json:
              examples:
                remove_members:
                  summary: Members removed successfully
                  value:
                    type: chat.member
                    data:
                      chat_id: '1729901956721293190'
                      removed_user_ids:
                      - '55743307'
                      - '55622727'
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: chat.member
                  data:
                    type: object
                    properties:
                      chat_id:
                        type: string
                      removed_user_ids:
                        type: array
                        items:
                          type: string
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
        '503':
          description: Service Unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The messaging service is temporarily unavailable. Please try again later.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.DELETE
      tags:
      - Chats
    servers:
    - url: https://cliq.zoho.com/api/v3
      description: Zoho Cliq US DC
  /chats/{CHAT_ID}/forks:
    post:
      summary: Fork a chat
      operationId: forkChatV3
      description: 'Fork chats help you start a new conversation from an existing one (1-1, Group Chat, Channel). You can choose how many users you want to share the chat with and from which point you want to share it.


        With this API , you can create a new chat with a selected set of messages from the original chat. This is useful when you want to start a new discussion based on a specific topic or context from an existing chat, without sharing the entire chat history.


        Threshold limit: 50 requests per min


        Number of API calls allowed within a minute.


        Lock period: 10 seconds

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        invalid_request

        Fork input payload is invalid or incomplete.


        operation_failed

        Unable to create forked chat due to an internal error.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: CHAT_ID
        in: path
        required: true
        schema:
          type: string
        example: CHAT_ID
        description: The unique identifier of the source chat. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3-fork-chat-request'
      responses:
        '200':
          description: The request was successfully completed.
          content:
            application/json:
              examples:
                fork_chat:
                  summary: Forked chat created
                  value:
                    type: chat
                    data:
                      chat_id: '3104729000000098765'
                      name: 'Fork: Q2 Product Review - Design, Engineering & QA'
                      chat_type: group_chat
                      participant_count: 3
                      created_time: '2025-04-29T10:00:00+05:30'
                      last_modified_time: '2025-04-29T10:00:00+05:30'
                      pinned: false
                      removed: false
                      creator:
                        id: '70027934'
                        name: Tim Harrison
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: chat
                  data:
                    $ref: '#/components/schemas/v3-chat'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.CREATE
      tags:
      - Chats
    servers:
    - url: https://cliq.zoho.com/api/v3
      description: Zoho Cliq US DC
  /chats/{CHAT_ID}/activities:
    post:
      summary: Send Typing Indicator
      operationId: sendTypingActivityV3
      description: 'Sends a typing indicator activity to a chat, signaling that the user is currently typing a message.


        Threshold limit: 100 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 50 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        param_missing

        The param ''action'' is missing.


        invalid.inputs.submitted

        Incorrect values submitted.


        chat_access_denied

        You must be a participant in this chat to perform this action.


        chat_operation_failed

        Unable to perform the action. Please retry.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: CHAT_ID
        in: path
        required: true
        schema:
          type: string
        example: CHAT_ID
        description: The unique identifier of the chat. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.
      requestBody:
        required: true
        content:
          application/json:
            examples:
              Typing Indicator:
                summary: Send typing indicator
                value:
                  action: typing
              Text entered:
                summary: Send text entered activity
                value:
                  action: text_entered
              Text cleared:
                summary: Send text cleared activity
                value:
                  action: text_cleared
            schema:
              $ref: '#/components/schemas/v3-typing-activity-request'
      responses:
        '204':
          description: No Content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.UPDATE
      tags:
      - Chats
    servers:
    - url: https://cliq.zoho.com/api/v3
      description: Zoho Cliq US DC
  /chats/{CHAT_ID}/leave:
    post:
      summary: Leave a chat
      operationId: LeaveAChat
      description: 'Use this API to remove the authenticated user from a group chat or channel.

        After leaving, the user is no longer an active participant in that chat.


        This endpoint is helpful for exiting discussions that are no longer relevant to the user.


        Threshold limit: 20 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 10 minutes

        Wait time before consecutive API requests.'
      parameters:
      - name: CHAT_ID
        in: path
        required: true
        schema:
          type: string
        example: CHAT_ID
        description: The unique identifier of the chat that you wish to leave. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.
      responses:
        '200':
          description: The request was successfully completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.UPDATE
      tags:
      - Chats
      x-operation-id-source: normalized
      x-operation-id-original: Leave a chat
    servers:
    - url: https://cliq.zoho.com/api/v3
      description: Zoho Cliq US DC
  /chats/{CHAT_ID}/mute:
    post:
      summary: Mute a chat
      operationId: MuteAChat
      description: 'Use this API to mute notifications for any given chat while still keeping it accessible.

        Muting is ideal for high-volume group chats or channels where the user wants to stay in the conversation but avoid constant notification interruptions.


        This setting affects chat-level notifications and helps keep conversations organized without leaving them entirely.


        Threshold limit: 20 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 10 minutes

        Wait time before consecutive API requests.'
      parameters:
      - name: CHAT_ID
        in: path
        required: true
        schema:
          type: string
        example: CHAT_ID
        description: The unique identifier of the chat that needs to be muted. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.
      responses:
        '200':
          description: The request was successfully completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.UPDATE
      tags:
      - Chats
      x-operation-id-source: normalized
      x-operation-id-original: Mute a chat
    servers:
    - url: https://cliq.zoho.com/api/v3
      description: Zoho Cliq US DC
  /chats/{CHAT_ID}/unmute:
    post:
      summary: Unmute a chat
      operationId: UnmuteAChat
      description: 'Use this API to restore notifications for any given previously muted chat.

        Once unmuted, the user starts receiving chat updates again according to their notification settings.


        Use this when a group chat or channel becomes active or relevant again and timely visibility of messages is required.


        Threshold limit: 20 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 10 minutes

        Wait time before consecutive API requests.'
      parameters:
      - name: CHAT_ID
        in: path
        required: true
        schema:
          type: string
        example: CHAT_ID
        description: The unique identifier of the chat that needs to be unmuted. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.
      responses:
        '200':
          description: The request was successfully completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Chats.UPDATE
      tags:
      - Chats
      x-operation-id-source: normalized
      x-operation-id-original: Unmute a chat
    servers:
    - url: https://cliq.zoho.com/api/v3
      description: Zoho Cliq US DC
  /chats/{CHAT_ID4}/messages:
    post:
      summary: Mentioning available users in a Channel
      x-display-path: /chats/{CHAT_ID}/messages
      x-virtual-endpoint: true
      x-note: 'CHAT_ID4 is a documentation alias for CHAT_ID path parameter used in mentioningAvailableUsers operation. This alias is used to document the available-users mention use case separately while keeping it under the same POST /chats/{CHAT_ID}/messages endpoint, because the actual API path does not change and only the message content pattern differs. The actual endpoint for mentioningAvailableUsers operation remains /chats/{CHAT_ID}/messages as specified in the paths object.

        '
      operationId: mentioningAvailableUsers
      description: 'To mention all users who are currently available in a channel, use the syntax {@available}.


        This will notify only the participants whose status is set to Available at the time the message is posted.'
      parameters:
      - name: CHAT_ID4
        in: path
        required: true
        schema:
          type: string
        example: CHAT_ID
        description: 'Unique identifier of the chat where the message needs to be sent. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#CHAT_ID">CHAT_ID</a> in the Glossary page.<br><br>

          <b>Note:</b> <code>CHAT_ID4</code> is a documentation alias for <code>CHAT_ID</code>, used to document the "Mentioning available users in a Channel" use case separately while sharing the same <code>/chats/{CHAT_ID}/messages</code> endpoint, since the path is unchanged and only the message content pattern differs.

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
[...]
