openapi: 3.2.0
info:
  title: Datastores Platform Storage API
  version: '3.0'
  description: 'Cliq Database serves as an ideal storage interface for building integrations on the Cliq Platform. It allows you to create, modify, store, and synchronize easily accessible data items.


    You can access the Cliq Record APIs using the following OAuth scope:


    OAuth Scope for Record APIs: ZohoCliq.Datastores.ALL , ZohoCliq.DatastoreRecords.ALL


    This scope provides basic CRUD (Create, Read, Update, Delete) access to the Record APIs.'
servers:
- url: https://cliq.zoho.com/api/v3
  description: Zoho Cliq US DC
tags:
- name: Platform_storage
  description: Manage Cliq Datastores - structured, schema-defined storage tables scoped to an organisation or extension. Datastores allow platform components to persist and query structured data across executions. Each datastore has typed fields and supports CRUD operations, field schema management, bulk record exports, and criteria-based queries.
paths:
  /datastores:
    post:
      summary: Create a datastore
      operationId: creating_datastores_for_an_org
      description: 'Create a new Datastore for the organisation.


        A Datastore is a structured storage table scoped to the organisation (or an extension) that allows platform components to persist and query data across executions.


        Threshold limit: 10 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        datastore_creation_limit_exceeded

        The maximum number of datastores allowed for the organisation has been reached.


        datastore_name_already_exists

        A datastore with the same name already exists in the organisation.


        datastore_invalid_creation_data

        The request body contains invalid or malformed data for datastore creation.


        datastore_fields_required

        At least one field definition must be provided to create a datastore.


        datastore_fields_invalid_value

        One or more field definitions contain an invalid value.


        datastore_fields_limit_exceeded

        The number of fields exceeds the maximum limit of 19 (plus the default record ID field).


        datastore_fields_duplicate_column

        Two or more fields share the same column name. Field names must be unique within a datastore.


        datastore_access_denied

        The authenticated user does not have permission to create a datastore.


        datastore_unique_key_column_not_found

        A field referenced in a unique key constraint does not exist in the datastore''s field definitions.


        datastore_field_name_reserved

        One or more field names use a reserved keyword that cannot be used as a field name.


        datastore_field_unique_key_not_supported

        A field of type encrypted-text or large-text was included in a unique key constraint, which is not supported.


        datastore_field_mask_not_supported

        Masking was specified for a field type that does not support it. Only limited-text and number fields support masking.


        datastore_invalid

        The datastore data is invalid or in an unexpected state.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters: []
      requestBody:
        description: Creates a datastore. Provide `unique_name`, `name`, `description`, and at least one field definition.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createplatformdatabase_v2'
        required: true
      responses:
        '200':
          description: Datastore created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatastoreResponse'
              example:
                url: /api/v3/datastores
                type: datastore
                data:
                  unique_name: empdir
                  name: Employee Directory
                  id: '227828000000132001'
                  creator:
                    name: NP NTC
                    id: '119440882'
                  status: enabled
                  fields:
                  - default_value: ''
                    masked: false
                    name: Notes
                    unique_name: notes
                    type: large-text
                    mandatory: false
                    id: '17202020414617773604009000'
                  - default_value: '0'
                    masked: false
                    name: Employee ID
                    unique_name: empid
                    type: number
                    mandatory: true
                    id: '17202020414617773604009001'
                  - default_value: ''
                    masked: false
                    name: Employee Name
                    unique_name: empname
                    type: limited-text
                    mandatory: true
                    id: '17202020414617773604009002'
                  - default_value: 'true'
                    masked: false
                    name: Active Status
                    unique_name: isactive
                    type: boolean
                    mandatory: false
                    id: '17202020414617773604009003'
                  type: custom
                  description: V3 API test datastore
                  unique_keys:
                  - - empid
                  scope: personal
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - Datastores.CREATE
      tags:
      - Platform_storage
    get:
      summary: List all datastores
      operationId: get_list_of_datastores
      description: 'Retrieve a paginated list of all datastores defined for the organisation.


        Threshold limit: 30 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        bulk_record_update_failed

        Failed to update one or more records.


        invalid_record_criteria

        Criteria expression is invalid.


        datastore_not_found

        Datastore with the given identifier does not exist.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - schema:
          description: ''
          $ref: '#/components/schemas/base64_regex'
        in: query
        name: sync_token
        description: 'Return datastores modified after the given sync token. The sync token is returned in the response when fetching the list of datastores, and can be used to retrieve only datastores that were created or updated after that request.

          '
        required: false
      - schema:
          description: ''
          type: integer
        in: query
        name: limit
        description: 'Maximum number of datastores to return in the response. Default is 20, maximum allowed value is 100.

          '
        required: false
      - schema:
          description: ''
          $ref: '#/components/schemas/base64_regex'
        in: query
        name: next_token
        description: 'Token to retrieve the next page of results. This is returned in the response when the number of datastores exceeds the specified limit. To fetch the next page, include this token in the request.

          '
        required: false
      responses:
        '200':
          description: List of datastores returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatastoreResponse'
              example:
                url: /api/v3/datastores
                type: datastore
                sync_token: MTB8MTc3NzM2MDM5OTc0OXw=
                data:
                - unique_name: empdir
                  name: Employee Directory
                  id: '227828000000132001'
                  creator:
                    name: NP NTC
                    id: '119440882'
                  status: enabled
                  fields:
                  - default_value: ''
                    masked: false
                    name: Notes
                    unique_name: notes
                    type: large-text
                    mandatory: false
                    id: '17202020414617773604009000'
                  - default_value: '0'
                    masked: false
                    name: Employee ID
                    unique_name: empid
                    type: number
                    mandatory: true
                    id: '17202020414617773604009001'
                  - default_value: ''
                    masked: false
                    name: Employee Name
                    unique_name: empname
                    type: limited-text
                    mandatory: true
                    id: '17202020414617773604009002'
                  - default_value: 'true'
                    masked: false
                    name: Active Status
                    unique_name: isactive
                    type: boolean
                    mandatory: false
                    id: '17202020414617773604009003'
                  type: custom
                  description: V3 API test datastore
                  unique_keys:
                  - - empid
                  scope: personal
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - Datastores.READ
      tags:
      - Platform_storage
  /datastores/{DATASTORE_ID}:
    patch:
      summary: Edit a datastore
      operationId: edit_datastores
      description: 'Update the metadata (name, description) of an existing datastore.


        Threshold limit: 10 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        datastore_not_found

        Datastore with the given identifier does not exist.


        datastore_name_already_exists

        A datastore with the same name already exists in the organisation.


        datastore_access_denied

        The authenticated user does not have permission to edit this datastore.


        datastore_unique_key_column_not_found

        A field referenced in a unique key constraint does not exist in the datastore''s field definitions.


        datastore_field_unique_key_not_supported

        A field of type encrypted-text or large-text was included in a unique key constraint, which is not supported.


        datastore_invalid

        The datastore data is invalid or in an unexpected state.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: DATASTORE_ID
        in: path
        required: true
        description: Unique numeric identifier of the datastore. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#LONG_ID">LONG_ID</a> in the Glossary page.
        schema:
          $ref: '#/components/schemas/longid_regex'
        example: DATASTORE_ID
      requestBody:
        description: Updates datastore metadata. Send only fields to change, such as `name`, `description`, or `unique_keys`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/editplatformdatabase_v2'
            example:
              unique_name: empdir
              name: Employee Directory
              description: Tracks employee records and department data
              unique_keys:
              - - empid
                - empname
        required: true
      responses:
        '200':
          description: Datastore updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatastoreResponse'
              example:
                url: /api/v3/datastores/227828000000132001
                type: datastore
                data:
                  unique_name: empdir
                  name: Employee Directory
                  id: '227828000000132001'
                  creator:
                    name: NP NTC
                    id: '119440882'
                  status: enabled
                  fields:
                  - default_value: ''
                    masked: false
                    name: Department
                    unique_name: department
                    type: limited-text
                    mandatory: false
                    id: '17202020414617773604018030'
                  - default_value: ''
                    masked: false
                    name: Notes
                    unique_name: notes
                    type: large-text
                    mandatory: false
                    id: '17202020414617773604009000'
                  - default_value: '0'
                    masked: false
                    name: Salary
                    unique_name: salary
                    type: number
                    mandatory: false
                    id: '17202020414617773604018070'
                  - default_value: ''
                    masked: false
                    name: Employee Name
                    unique_name: empname
                    type: limited-text
                    mandatory: true
                    id: '17202020414617773604009002'
                  - default_value: '0'
                    masked: false
                    name: Employee ID
                    unique_name: empid
                    type: number
                    mandatory: true
                    id: '17202020414617773604009001'
                  - default_value: 'true'
                    masked: false
                    name: Active Status
                    unique_name: isactive
                    type: boolean
                    mandatory: false
                    id: '17202020414617773604009003'
                  type: custom
                  description: Tracks employee records and department data
                  unique_keys:
                  - - empid
                    - empname
                  scope: personal
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - Datastores.UPDATE
      tags:
      - Platform_storage
    get:
      summary: Get a datastore
      operationId: get_a_datastores
      description: 'Retrieve the metadata and field schema of a single datastore identified by its numeric ID. The response includes the datastore name, description, and the list of typed fields (columns) defined in the schema.


        Threshold limit: 30 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        record_not_found

        Record with the given ID does not exist.


        datastore_not_found

        Datastore with the given identifier does not exist.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: DATASTORE_ID
        in: path
        required: true
        description: Unique numeric identifier of the datastore. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#LONG_ID">LONG_ID</a> in the Glossary page.
        schema:
          $ref: '#/components/schemas/longid_regex'
        example: DATASTORE_ID
      responses:
        '200':
          description: Datastore details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatastoreResponse'
              example:
                url: /api/v3/datastores/227828000000132001
                type: datastore
                data:
                  unique_name: empdir
                  name: Employee Directory
                  id: '227828000000132001'
                  creator:
                    name: NP NTC
                    id: '119440882'
                  status: enabled
                  fields:
                  - default_value: ''
                    masked: false
                    name: Notes
                    unique_name: notes
                    type: large-text
                    mandatory: false
                    id: '17202020414617773604009000'
                  - default_value: '0'
                    masked: false
                    name: Employee ID
                    unique_name: empid
                    type: number
                    mandatory: true
                    id: '17202020414617773604009001'
                  - default_value: ''
                    masked: false
                    name: Employee Name
                    unique_name: empname
                    type: limited-text
                    mandatory: true
                    id: '17202020414617773604009002'
                  - default_value: 'true'
                    masked: false
                    name: Active Status
                    unique_name: isactive
                    type: boolean
                    mandatory: false
                    id: '17202020414617773604009003'
                  type: custom
                  description: V3 API test datastore
                  unique_keys:
                  - - empid
                  scope: personal
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - Datastores.READ
      tags:
      - Platform_storage
    delete:
      summary: Delete a datastore
      operationId: delete_a_datastore
      description: 'Permanently delete a datastore and all its stored records. This operation is irreversible, and all data in the datastore will be lost. Hence, ensure no active platform components depend on this datastore before deleting it.


        Threshold limit: 10 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        datastore_not_found

        Datastore with the given identifier does not exist.


        datastore_access_denied

        The authenticated user does not have permission to delete this datastore.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: DATASTORE_ID
        in: path
        required: true
        description: Unique numeric identifier of the datastore. To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#LONG_ID">LONG_ID</a> in the Glossary page.
        schema:
          $ref: '#/components/schemas/longid_regex'
        example: DATASTORE_ID
      responses:
        '204':
          description: No Content. Datastore deleted successfully.
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - Datastores.DELETE
      tags:
      - Platform_storage
  /datastores/{DATASTORE_ID}/fields:
    patch:
      summary: Edit datastore fields
      operationId: edit_datastore_fields
      description: 'Update the existing fields (columns) in a datastore. The modifiable attributes include the field display name, type, and required field flag. The names of fields cannot be changed after they are created.


        Threshold limit: 10 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        datastore_not_found

        Datastore with the given identifier does not exist.


        datastore_access_denied

        The authenticated user does not have permission to modify this datastore.


        datastore_field_update_failed

        Failed to update one or more datastore fields.


        datastore_field_not_found

        A field with the given ID does not exist in this datastore.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: DATASTORE_ID
        in: path
        required: true
        description: 'Unique numeric identifier of the datastore.<br>

          To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#DATASTORE_ID">DATASTORE_ID</a> in the Glossary page.

          '
        schema:
          $ref: '#/components/schemas/longid_regex'
        example: DATASTORE_ID
      requestBody:
        description: Updates existing datastore fields. Provide `fields` with each field `id` and the attributes to modify.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edit_platform_db_fields'
            example:
              fields:
              - id: '17202020414617773604009000'
                name: Employee Notes
                mandatory: false
              - id: '17202020414617773604009003'
                name: Is Active
                mandatory: true
        required: true
      responses:
        '200':
          description: Datastore fields updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatastoreResponse'
              example:
                url: /api/v3/datastores/227828000000132001/fields
                type: datastore
                data:
                  unique_name: empdir
                  name: Employee Directory
                  id: '227828000000132001'
                  creator:
                    name: NP NTC
                    id: '119440882'
                  status: enabled
                  fields:
                  - default_value: ''
                    masked: false
                    name: Employee Notes
                    unique_name: notes
                    type: large-text
                    mandatory: false
                    id: '17202020414617773604009000'
                  - default_value: '0'
                    masked: false
                    name: Employee ID
                    unique_name: empid
                    type: number
                    mandatory: true
                    id: '17202020414617773604009001'
                  - default_value: ''
                    masked: false
                    name: Employee Name
                    unique_name: empname
                    type: limited-text
                    mandatory: true
                    id: '17202020414617773604009002'
                  - default_value: 'true'
                    masked: false
                    name: Is Active
                    unique_name: isactive
                    type: boolean
                    mandatory: true
                    id: '17202020414617773604009003'
                  type: custom
                  description: Tracks employee records and department data
                  unique_keys:
                  - - empid
                  scope: personal
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - Datastores.UPDATE
      tags:
      - Platform_storage
    post:
      summary: Add fields to a datastore
      operationId: add_datastore_fields
      description: 'Add one or more new fields (columns) to an existing datastore. Existing records will have null for newly added fields unless a default value is specified.


        Threshold limit: 10 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        datastore_not_found

        Datastore with the given identifier does not exist.


        datastore_fields_invalid_value

        One or more field definitions contain an invalid value.


        datastore_fields_limit_exceeded

        The number of fields exceeds the maximum limit of 19 (plus the default record ID field).


        datastore_fields_duplicate_column

        Two or more fields in the request share the same column name.


        datastore_access_denied

        The authenticated user does not have permission to modify this datastore.


        datastore_field_name_already_exists

        A field with this unique name already exists in the datastore.


        datastore_field_name_reserved

        One or more field names use a reserved keyword that cannot be used as a field name.


        datastore_field_mask_not_supported

        Masking was specified for a field type that does not support it. Only limited-text and number fields support masking.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: DATASTORE_ID
        in: path
        required: true
        description: 'Unique numeric identifier of the datastore.<br>

          To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#DATASTORE_ID">DATASTORE_ID</a> in the Glossary page.

          '
        schema:
          $ref: '#/components/schemas/longid_regex'
        example: DATASTORE_ID
      requestBody:
        description: Adds new datastore fields. Provide one or more field definitions in `fields`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/add_platform_db_fields'
            example:
              fields:
              - unique_name: join_date
                name: Join Date
                type: limited-text
                mandatory: false
                default_value: ''
              - unique_name: location
                name: Location
                type: limited-text
                mandatory: false
                default_value: ''
        required: true
      responses:
        '200':
          description: Datastore fields added successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatastoreResponse'
              example:
                url: /api/v3/datastores/227828000000132001/fields
                type: datastore
                data:
                  unique_name: empdir
                  name: Employee Directory
                  id: '227828000000132001'
                  creator:
                    name: NP NTC
                    id: '119440882'
                  status: enabled
                  fields:
                  - default_value: ''
                    masked: false
                    name: Notes
                    unique_name: notes
                    type: large-text
                    mandatory: false
                    id: '17202020414617773604009000'
                  - default_value: '0'
                    masked: false
                    name: Employee ID
                    unique_name: empid
                    type: number
                    mandatory: true
                    id: '17202020414617773604009001'
                  - default_value: ''
                    masked: false
                    name: Employee Name
                    unique_name: empname
                    type: limited-text
                    mandatory: true
                    id: '17202020414617773604009002'
                  - default_value: 'true'
                    masked: false
                    name: Active Status
                    unique_name: isactive
                    type: boolean
                    mandatory: false
                    id: '17202020414617773604009003'
                  - default_value: ''
                    masked: false
                    name: Join Date
                    unique_name: join_date
                    type: limited-text
                    mandatory: false
                    id: '17202020414617773604018031'
                  - default_value: ''
                    masked: false
                    name: Location
                    unique_name: location
                    type: limited-text
                    mandatory: false
                    id: '17202020414617773604018032'
                  type: custom
                  description: Tracks employee records and department data
                  unique_keys:
                  - - empid
                  scope: personal
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - Datastores.UPDATE
      tags:
      - Platform_storage
    delete:
      summary: Delete fields of a datastore
      operationId: delete_datastore_fields
      description: 'Remove one or more fields (columns) from a Datastore schema by providing the field IDs in the ids query parameter. All data stored in those fields will be permanently deleted. This action is irreversible.


        Threshold limit: 10 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        datastore_not_found

        Datastore with the given identifier does not exist.


        datastore_column_not_found

        A field with the given ID does not exist in this datastore.


        datastore_access_denied

        The authenticated user does not have permission to modify this datastore.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: DATASTORE_ID
        in: path
        required: true
        description: 'Unique numeric identifier of the datastore.<br>

          To learn how to retrieve this ID, see <a href="/cliq/help/restapi/v3/glossary/#DATASTORE_ID">DATASTORE_ID</a> in the Glossary page.

          '
        schema:
          $ref: '#/components/schemas/longid_regex'
        example: IDS
      - name: ids
        in: query
        required: true
        description: 'Comma-separated list of field IDs to delete.

          To retrieve field IDs, use the Get Datastore Details API and refer to the <code>id</code> attribute of each field in the response.

          <br><b>Maximum number of fields that can be deleted in a single request is 10</b>

          '
        schema:
          type: string
      responses:
        '204':
          description: No Content. Datastore fields deleted successfully.
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - Datastores.UPDATE
      tags:
      - Platform_storage
  /datastores/{DATASTORE_UNIQUE_NAME}/records:
    patch:
      summary: Bulk update records in a datastore
      operationId: update_records_in_storage
      description: 'Update multiple records in a datastore with a single request. Identify target records by specifying record IDs or a criteria expression in the request body.


        Note: To manage records of a datastore bundled with an extension, use the extension-scoped endpoint instead:

        v3/extensions/{EXTENSION_ID}/datastores/{DATASTORE_UNIQUE_NAME}/records

        and pass the extension_key as a query parameter.


        Threshold limit: 30 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        datastore_not_found

        Datastore with the given identifier does not exist.


        datastore_invalid_criteria

        The criteria expression provided is invalid or malformed.


        datastore_criteria_invalid_operator

        The criteria expression uses an invalid or unsupported operator.


        datastore_criteria_limit_exceeded

        The number of conditions in the criteria expression exceeds the allowed limit.


        datastore_column_not_found

        A field key in values or criteria does not match any field unique_name in this datastore.


        datastore_update_violates_unique_key

        The update would violate a unique key constraint defined on the datastore.


        datastore_access_denied

        The authenticated user does not have permission to update records in this datastore.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: DATASTORE_UNIQUE_NAME
        in: path
        required: true
        description: 'Unique name of the datastore.<br>

          To learn how to retrieve this, see <a href="/cliq/help/restapi/v3/glossary/#DATABASE_UNIQUE_NAME">DATABASE_UNIQUE_NAME</a> in the Glossary page.''

          '
        schema:
          type: string
        example: DATASTORE_UNIQUE_NAME
      - name: extension_key
        in: query
        required: false
        description: 'Unique key of the extension that the datastore belongs to. Required if the datastore is owned by an extension. To learn how to retrieve this, see <a href="/cliq/help/restapi/v3/glossary/#EXTENSION_KEY">EXTENSION_KEY</a> in the Glossary

          '
        schema:
          type: string
      requestBody:
        description: 'Bulk-updates matching records. Provide a `criteria` expression to select records and `values` with the field updates to apply.

          '
        content:
          application/json:
            schema:
              type: object
              required:
              - criteria
              - values
              properties:
                values:
                  type: object
                  description: 'Key-value pairs of field unique_name and the new value to update.

                    '
                  additionalProperties: true
                  example:
                    isactive: false
                    empname: John Doe
                    notes: Moved to inactive status
                criteria:
                  type: string
                  description: 'Expression to select records for bulk update. Use field <code>unique_name</code>s as keys. Supported comparison operators: <code>=</code>, <code>==</code>, <code>!=</code>, <code>&gt;</code>, <code>&gt;=</code>, <code>&lt;</code>, <code>&lt;=</code>, <code>like</code>, <code>not like</code>, <code>in</code> (max 10 values), <code>not in</code> (max 10 values). Combine conditions with <code>&&</code> (AND) or <code>||</code> (OR), and use parentheses for grouping. Max 10 clauses.<br>

                    '
                  example: (department==Engineering) && (isactive==true)
      responses:
        '204':
          description: No Content. Records updated successfully.
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - DatastoreRecords.UPDATE
      tags:
      - Platform_storage
    post:
      summary: Add records to a datastore
      operationId: insert_record_in_storage
      description: 'Insert a record into a datastore.


        Note: To manage records of a datastore bundled with an extension, use the extension-scoped endpoint instead:

        v3/extensions/{EXTENSION_ID}/datastores/{DATASTORE_UNIQUE_NAME}/records

        and pass the extension_key as a query parameter.


        Threshold limit: 30 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        datastore_not_found

        Datastore with the given identifier does not exist.


        datastore_data_limit_exceeded

        The record data exceeds the maximum allowed size (max 20 fields, each value up to 1000 characters, total max 2500 bytes).


        datastore_column_not_found

        A field key in values does not match any field unique_name in this datastore.


        datastore_invalid_number_value

        A value provided for a number-type field is not a valid number.


        datastore_access_denied

        The authenticated user does not have permission to insert records into this datastore.


        datastore_unique_key_violation

        The record violates a unique key constraint defined on the datastore.


        datastore_required_field_missing

        A mandatory field was not provided in the request.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: DATASTORE_UNIQUE_NAME
        in: path
        required: true
        description: Unique name of the datastore. To learn how to retrieve this, see <a href="/cliq/help/restapi/v3/glossary/#DATABASE_UNIQUE_NAME">DATABASE_UNIQUE_NAME</a> in the Glossary page.
        schema:
          type: string
        example: DATASTORE_UNIQUE_NAME
      - name: extension_key
        in: query
        required: false
        description: Encrypted app ID. Required if the target datastore is owned by an extension.
        schema:
          $ref: '#/components/schemas/encryptedappkey_regex'
      requestBody:
        description: "Inserts a single record into the datastore. Provide field values as key-value pairs in the `values` object, where each key is a field `unique_name` from the datastore schema.\n<br><br>\n<table style=\"border-collapse: collapse; width: 100%; font-family: inherit;\">\n  <tr>\n    <th style=\"padding: 8px; text-align: center; border: 1px solid #ddd;\">Field</th>\n    <th style=\"padding: 8px; text-align: center; border: 1px solid #ddd;\">Type</th>\n    <th style=\"padding: 8px; text-align: center; border: 1px solid #ddd;\">Required</th>\n    <th style=\"padding: 8px; text-align: center; border: 1px solid #ddd;\">Constraints</th>\n    <th style=\"padding: 8px; text-align: center; border: 1px solid #ddd;\">Description</th>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>values</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">JSONObject</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Yes</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Max 20 keys; each value max 1000 chars; total max 2500 bytes</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Key-value pairs where keys are field <code>unique_name</code>s defined in the datastore schema.</td>\n  </tr>\n</table>\n"
        content:
          application/json:
            schema:
              type: object
              required:
              - values
              properties:
                values:
                  type: object
                  description: "Key-value pairs representing field data for the new record.<br>\nKeys must match the <code>unique_name</code> of fields defined in the datastore schema. Values must conform to the field type (e.g. string, number, boolean) and respect the datastore's constraints.<br>\n<br>\n<b>Datastore constraints:</b><br>\n<ul>\n  <li>Maximum 20 fields per record</li>\n  <li>Each value can be up to 1000 characters</li>\n  \n</ul>\n"
                  additionalProperties: true
                  example:
                    empname: John Doe
                    empid: 1001
                    isactive: true
                    notes: Senior Engineer in Platform Team
        required: true
      responses:
        '200':
          description: Record inserted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    example: /api/v3/datastores/empdir/records
                  type:
                    type: string
                    example: datastore_record
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '227828000000128010'
                      empname:
                        type: string
                        example: John Doe
                      empid:
                        type: string
                        example: '1001'
                      isactive:
                        type: boolean
                        example: true
                      notes:
                        type: string
                        example: Senior Engineer in Platform Team
                      added_time:
                        type: string
                        example: '1777360402254'
                      modified_time:
                        type: string
                        example: '1777360402254'
              example:
                url: /api/v3/datastores/empdir/records
                type: datastore_record
                data:
                  modified_time: '1777360402254'
                  empid: '1001'
                  isactive: true
                  id: '227828000000128010'
                  empname: John Doe
                  added_time: '1777360402254'
                  notes: Senior Engineer in Platform Team
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - DatastoreRecords.CREATE
      tags:
      - Platform_storage
    get:
      summary: List records from a datastore
      operationId: get_records
      description: 'Retrieve records from a datastore with optional filtering, sorting, and pagination.


        Use the criteria query parameter to filter records based on field values (e.g. (empname=John) && (isactive=true)).


        Use the sync_token parameter to retrieve records modified before a certain point in time, or the next_token parameter for records modified after a certain point in time. This is useful for incremental synchronization.


        Use the order_by parameter to sort results by specific fields.


        Use the limit parameter to restrict the number of records returned.


        Note: To manage records of a datastore bundled with an extension, use the extension-scoped endpoint instead:

        v3/extensions/{EXTENSION_ID}/datastores/{DATASTORE_UNIQUE_NAME}/records

        and pass the extension_key as a query parameter.


        Threshold limit: 30 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        datastore_not_found

        Datastore with the given identifier does not exist.


        datastore_invalid_criteria

        The criteria expression provided is invalid or malformed.


        datastore_criteria_invalid_operator

        The criteria expression uses an invalid or unsupported operator.


        datastore_criteria_limit_exceeded

        The number of conditions in the criteria expression exceeds the allowed limit.


        datastore_column_not_found

        A field used in the criteria does not exist in this datastore.


        datastore_invalid_next_token

        The next_token value provided is invalid or expired.


        datastore_invalid_number_value

        A value used in the criteria for a number-type field is not a valid number.


        datastore_in_query_limit_exceeded

        The number of values in an in query exceeds the allowed limit.


        datastore_duplicate_sort_field

        The same field was specified more than once in the order_by parameter.


        datastore_access_denied

        The authenticated user does not have permission to read records from this datastore.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: DATASTORE_UNIQUE_NAME
        in: path
        required: true
        description: 'Unique name of the datastore.<br>

          To learn how to retrieve this, see <a href="/cliq/help/restapi/v3/glossary/#DATABASE_UNIQUE_NAME">DATABASE_UNIQUE_NAME</a> in the Glossary page.

          '
        schema:
          type: string
        example: DATASTORE_UNIQUE_NAME
      - name: criteria
        in: query
        required: false
        description: "Expression to filter records. Use field <code>unique_name</code>s as keys. Wrap each condition in parentheses and combine with <code>&&</code> / <code>||</code>.<br>\nExample: <code>(empname=John) && (isactive=true)</code>\n<br>\n<br><b>Supported Comparison Operators</b><br><br>\n<table style=\"border-collapse: collapse; width: 100%; font-family: inherit;\">\n  <tr>\n    <th style=\"padding: 8px; text-align: center; border: 1px solid #ddd; font-family: inherit;\">Operator</th>\n    <th style=\"padding: 8px; text-align: center; border: 1px solid #ddd; font-family: inherit;\">Meaning</th>\n    <th style=\"padding: 8px; text-align: center; border: 1px solid #ddd; font-family: inherit;\">Notes</th>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>=</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Equal</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"></td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>==</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Equal</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Alias for <code>=</code></td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>!=</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Not Equal</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"></td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>&gt;</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Greater Than</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"></td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>&gt;=</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Greater Than or Equal</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"></td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>&lt;</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Less Than</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"></td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>&lt;=</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Less Than or Equal</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"></td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>like</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Like (pattern match)</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Case-insensitive, only for CHAR fields</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>not like</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Not Like</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Case-insensitive, only for CHAR fields</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>in</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">In (multi-value)</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Comma-separated values, max <b>10</b> values</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>not in</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Not In</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Comma-separated values, max <b>10</b> values</td>\n  </tr>\n</table>\n<br><b>Logical Operators (for combining criteria)</b><br><br>\n<table style=\"border-collapse: collapse; width: 100%; font-family: inherit;\">\n  <tr>\n    <th style=\"padding: 8px; text-align: center; border: 1px solid #ddd; font-family: inherit;\">Operator</th>\n    <th style=\"padding: 8px; text-align: center; border: 1px solid #ddd; font-family: inherit;\">Meaning</th>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>&&</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">AND</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>||</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">OR</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\"><code>( )</code></td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Grouping / parentheses for precedence</td>\n  </tr>\n</table>\n<br><b>AND</b> has higher priority than <b>OR</b> (standard precedence).<br>\n<br><b>Limits</b>\n<ul>\n  <li><b>Max criteria clauses</b>: 10 (combined with <code>&&</code> / <code>||</code>)</li>\n  <li><b>Max values in <code>in</code> / <code>not in</code></b>: 10</li>\n</ul>\n"
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: 'Maximum number of records to return.<br>

          <b>Default</b>: 50<br>

          <b>Maximum</b>: 100<br>

          '
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - name: order_by
        in: query
        required: false
        description: 'Comma-separated list of fields to sort by, with optional sort direction (asc or desc).<br>

          If sort direction is not specified, ascending order is used by default.<br>

          Example: <code>empname desc, empid asc</code><br>

          <b>Example syntax</b>: +timestamp (e.g. <code>+1777360402254</code>) to get records modified before the specified timestamp, or -age (e.g. <code>-3600000</code>) to get records modified within the last hour.

          '
        schema:
          type: string
      - name: sync_token
        in: query
        required: false
        description: 'Token to retrieve records modified before a certain point in time. This is useful for incremental synchronization. The token value should be the <code>sync_token</code> returned in a previous response, which encodes a timestamp. Records modified before that timestamp will be returned.<br>

          '
        schema:
          type: string
      - name: next_token
        in: query
        required: false
        description: 'Token to retrieve records modified after a certain point in time. This is useful for incremental synchronization. The token value should be the <code>sync_token</code> returned in a previous response, which encodes a timestamp. Records modified after that timestamp will be returned.

          '
        schema:
          type: string
      - name: extension_key
        in: query
        required: false
        description: 'Unique key of the extension that the datastore belongs to. Required if the datastore is owned by an extension. To learn how to retrieve this, see <a href="/cliq/help/restapi/v3/glossary/#EXTENSION_KEY">EXTENSION_KEY</a> in the Glossary page.

          '
        schema:
          type: string
      responses:
        '200':
          description: Records returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listrecords_response'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - DatastoreRecords.READ
      tags:
      - Platform_storage
    delete:
      summary: Delete records from a datastore
      operationId: delete_records_of_given_ids_in
      description: 'Delete one or more records from a datastore. Specify the records to delete by providing comma-separated record ids in the query string, or by providing a criteria expression to match records. Deletions are irreversible.


        Note: To manage records of a datastore bundled with an extension, use the extension-scoped endpoint instead:

        v3/extensions/{EXTENSION_ID}/datastores/{DATASTORE_UNIQUE_NAME}/records

        and pass the extension_key as a query parameter.


        Threshold limit: 30 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.'
      parameters:
      - name: DATASTORE_UNIQUE_NAME
        in: path
        required: true
        description: Unique name of the datastore. To learn how to retrieve this, see <a href="/cliq/help/restapi/v3/glossary/#DATABASE_UNIQUE_NAME">DATABASE_UNIQUE_NAME</a> in the Glossary page.
        schema:
          type: string
        example: DATASTORE_UNIQUE_NAME
      - schema:
          description: ''
          type: string
        in: query
        name: criteria
        description: 'Expression to select records for bulk deletion. Use field <code>unique_name</code>s as keys. Supported comparison operators: <code>=</code>, <code>==</code>, <code>!=</code>, <code>&gt;</code>, <code>&gt;=</code>, <code>&lt;</code>, <code>&lt;=</code>, <code>like</code>, <code>not like</code>, <code>in</code> (max 10 values), <code>not in</code> (max 10 values). Combine conditions with <code>&&</code> (AND) or <code>||</code> (OR), and use parentheses for grouping. Max 10 clauses.

          '
        required: false
      - schema:
          description: ''
          $ref: '#/components/schemas/multiplelong_regex'
        in: query
        name: ids
        description: ids of the records to be deleted
        required: false
      - schema:
          description: ''
          $ref: '#/components/schemas/encryptedappkey_regex'
        in: query
        name: extension_key
        description: Encrypted app id
        required: false
      responses:
        '204':
          description: No Content. Records deleted successfully.
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - DatastoreRecords.DELETE
      tags:
      - Platform_storage
  /datastores/{DATASTORE_UNIQUE_NAME}/records/{RECORD_ID}:
    patch:
      summary: Update a record in a datastore
      operationId: update_a_record_in_storage
      description: 'Update a single record in a datastore.


        Note: To manage records of a datastore bundled with an extension, use the extension-scoped endpoint instead:

        v3/extensions/{EXTENSION_ID}/datastores/{DATASTORE_UNIQUE_NAME}/records/{RECORD_ID}

        and pass the extension_key as a query parameter.


        Threshold limit: 30 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        datastore_record_not_found

        The record with the given ID does not exist in this datastore.


        datastore_not_found

        Datastore with the given identifier does not exist.


        datastore_column_not_found

        A field key in values does not match any field unique_name in this datastore.


        datastore_update_violates_unique_key

        The update would violate a unique key constraint defined on the datastore.


        datastore_invalid_number_value

        A value provided for a number-type field is not a valid number.


        datastore_access_denied

        The authenticated user does not have permission to update records in this datastore.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: DATASTORE_UNIQUE_NAME
        in: path
        required: true
        description: Unique name of the datastore. To learn how to retrieve this, see <a href="/cliq/help/restapi/v3/glossary/#DATABASE_UNIQUE_NAME">DATABASE_UNIQUE_NAME</a> in the Glossary page.
        schema:
          type: string
        example: DATASTORE_UNIQUE_NAME
      - name: RECORD_ID
        in: path
        required: true
        description: 'Unique numeric identifier of the record to update.<br>

          To learn how to retrieve this, see <a href="/cliq/help/restapi/v3/glossary/#RECORD_ID">RECORD_ID</a> in the Glossary page.

          '
        schema:
          $ref: '#/components/schemas/longid_regex'
        example: RECORD_ID
      - name: extension_key
        in: query
        required: false
        description: 'Unique key of the extension that the datastore belongs to. Required if the datastore is owned by an extension.<br>

          To learn how to retrieve this, see <a href="/cliq/help/restapi/v3/glossary/#EXTENSION_KEY">EXTENSION_KEY</a> in the Glossary page.

          '
        schema:
          type: string
      requestBody:
        description: Updates a single record by ID. Provide only the field values to modify in `values`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/datastores_records_add'
        required: true
      responses:
        '200':
          description: Record updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updaterecord_response'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '404':
          description: Invalid URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The URL you've sent is wrong. It's possible that the resource you've requested has been moved to another URL.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource does not support the HTTP method used. For example, requesting List of all customers API with PUT as the HTTP method.
        '406':
          description: Not Acceptable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The response has been received but the requested response type is not supported by the browser.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - DatastoreRecords.UPDATE
      tags:
      - Platform_storage
    get:
      summary: Get a record from a datastore
      operationId: get_a_record
      description: 'Retrieve a single record from a datastore.


        Note: To manage records of a datastore bundled with an extension, use the extension-scoped endpoint instead:

        v3/extensions/{EXTENSION_ID}/datastores/{DATASTORE_UNIQUE_NAME}/records/{RECORD_ID}

        and pass the extension_key as a query parameter.


        Threshold limit: 30 requests per min per user


        Number of API calls allowed within a minute.


        Lock period: 5 minutes

        Wait time before consecutive API requests.


        !

        Possible Error Codes

        Click to expand


        Error Code

        Description


        datastore_record_not_found

        The record with the given ID does not exist in this datastore.


        datastore_not_found

        Datastore with the given identifier does not exist.


        datastore_access_denied

        The authenticated user does not have permission to read records from this datastore.


        Error Response Format


        When an error occurs, the API returns a JSON response in this format:


        {"message": "A human-readable description of the error.", "code": "error_code"}


        where code is the error identifier (as listed above) and message is a human-readable explanation of what went wrong.'
      parameters:
      - name: DATASTORE_UNIQUE_NAME
        in: path
        required: true
        description: Unique name of the datastore. To learn how to retrieve this, see <a href="/cliq/help/restapi/v3/glossary/#DATABASE_UNIQUE_NAME">DATABASE_UNIQUE_NAME</a> in the Glossary page.
        schema:
          type: string
[...]
