openapi: 3.0.0
info:
  title: Bots mobilesettings API
  description: "<p>Bots are conversational assistants designed to automate repetitive tasks and manage simple user interactions. Their behavior is fully customizable through predefined Bot Handlers, which are activated by specific actions or through Webhooks that communicate with your own external server.</p> <p>For more information about Bots, please refer to the <b><a href=\"https://www.zoho.com/cliq/help/platform/bots.html\" target=\"_blank\">Bots Help Documentation</a></b>.</p> <p><b>Bot Handlers</b></p> <ul>\n  <li>Bot Handlers are the building blocks of a bot's functionality. Each handler is associated with a specific trigger event, such as receiving a direct message, being @mentioned in a channel, or a user subscribing to the bot.</li>\n  <li>When the trigger event occurs, the corresponding handler executes it's script to perform actions like sending messages, making API calls, or updating data.</li>\n  <li>By configuring different handlers, you can create bots that respond intelligently to various user interactions and automate complex workflows within Zoho Cliq.</li>\n</ul> <p><b>Types of Bot Handlers</b></p> <table style=\"border-collapse: collapse; width: 100%;\">\n  <tr>\n    <th style=\"padding: 8px; text-align: left; border: 1px solid #ddd;\">Handler</th>\n    <th style=\"padding: 8px; text-align: left; border: 1px solid #ddd;\">Description</th>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Menu Handler</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Adds up to 5 quick-action items to the bot's chat menu. Triggered when a user interacts with the menu.</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Message Handler</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Triggered when the bot receives a message.</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Welcome Handler</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Defines the greeting message sent when a user subscribes to the bot.</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Mention Handler</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Triggered when the bot is @mentioned in a chat or channel.</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Incoming Webhook Handler</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Allows external services to post messages into the bot via outgoing webhooks.</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Context Handler</td>\n    <td style=\"padding: 8px; border: 1px solid #ddd;\">Manages multi-turn conversations, maintaining context across a user's interaction with the bot.</td>\n  </tr>\n</table> <p><b>What you can do with the Bots API?</b></p> <p>With the Bots API, you can retrieve information about a specific bot, list all bots within your organization, manage configurations specific to handlers, trigger bot calls programmatically, manage subscribers, and much more.</p> <p>Each bot has an <code>execution_type</code> that defines how its handlers run when a trigger event occurs. The Bots API allows developers to create two types of bots:</p> <p id=\"deluge-bots\"><b>Deluge Bots (default)</b><br> Deluge bot executes handler logic using Zoho's Deluge scripting language, hosted entirely within the Zoho Cliq Developer platform, where no external server is required.</p> <ul>\n  <li>If <code>execution_type</code> is not specified during bot creation, it defaults to deluge.</li>\n  <li>Handler logic is defined as a script field (Deluge source code) when creating or updating handlers.</li>\n  <li>Suitable for teams that want to build and manage bot logic entirely within Zoho's ecosystem.</li>\n</ul> <p id=\"webhook-bots\"><b>Webhook Bots</b><br> A Webhook bot delegates all handler execution to your own external server. When a trigger event fires, Zoho Cliq sends an HTTP POST request to the <code>execution_url</code> you configure, and your server processes the event and returns a response.</p> <ul>\n  <li>To create a Webhook bot, set <code>execution_type</code> to webhook during bot creation and provide the <code>execution_url</code> where event payloads should be sent.</li>\n  <li>Your server must be publicly accessible and able to handle incoming POST requests from Zoho Cliq.</li>\n  <li>Ideal for teams seeking complete control over bot logic and possessing the resources to manage an external server. Also suitable for integrations requiring access to external databases, third-party APIs, or custom business logic that cannot be executed in Deluge.</li>\n</ul>\n"
  contact: {}
  version: 1.0.0
servers:
- url: https://cliq.zoho.com/api/v3
  description: Zoho Cliq US DC
tags:
- name: mobilesettings
  description: Mobile Settings Module
paths:
  /settings/mobile:
    get:
      summary: Get mobile settings
      operationId: getMobileSettings
      description: "Returns the current mobile settings for the authenticated user.\nThe response includes notification preferences, media settings, AV behavior, and summary-related options.\n<br><br>\n<p>\n  <b>OAuth Scope</b>: ZohoCliq.Profile.READ<br>\n  <b>Duration</b>: 5<br>\n  <b>Threshold</b>: 20 requests per min per user<br>\n  <b>Lock period</b>: 5 minutes<br>\n</p>\n"
      parameters:
      - name: keys
        in: query
        required: false
        schema:
          type: string
        description: Key name for which you need to get the value.
      - name: fetch_all
        in: query
        required: false
        schema:
          type: boolean
        description: If true, returns all mobile setting keys (used by clients).
      responses:
        '200':
          description: Mobile settings were retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mobile-settings-response'
              example:
                av_noise_cancellation: disabled
                media_to_gallery:
                  images: disabled
                  camera_captures: disabled
                  videos: disabled
                conference_recording: disabled
                last_seen: disabled
                file_summary: disabled
                media_upload_quality: enabled
                notification:
                  direct_message: enabled
                  direct_message_sound: enabled
                  direct_message_preview: enabled
                  channel: enabled
                  channel_sound: enabled
                  channel_preview: enabled
                  group: enabled
                  group_sound: enabled
                  group_preview: enabled
                  atmentions: enabled
                  atmentions_sound: enabled
                  atmentions_preview: enabled
                  bot: enabled
                  bot_sound: enabled
                  bot_preview: enabled
                  reactions: enabled
                  reactions_sound: enabled
                  reactions_preview: enabled
                  hashtags: enabled
                  hashtags_sound: enabled
                  hashtags_preview: enabled
                media_auto_download:
                  images: enabled
                  videos: enabled
                  others: enabled
                media_auto_download_android:
                  images: wifi
                  videos: disabled
                  others: mobile
                huddle_join_video_muted: enabled
                av_hd_video: enabled
                av_speech_detection: enabled
                unread_summary: enabled
                chat_summary: disabled
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Profile.READ
      tags:
      - mobilesettings
    put:
      summary: Update mobile settings
      operationId: updateMobileSettings
      description: "Updates mobile settings for the authenticated user.\nSend only the fields you want to modify. For nested objects (for example, `notification` or `media_to_gallery`), send the object with the intended values. You can also update `file_summary` directly using the query parameter.\n<br><br>\n<p>\n  <b>OAuth Scope</b>: ZohoCliq.Profile.UPDATE<br>\n  <b>Duration</b>: 5<br>\n  <b>Threshold</b>: 20 requests per min per user<br>\n  <b>Lock period</b>: 5 minutes<br>\n</p>\n"
      parameters:
      - name: file_summary
        in: query
        required: false
        schema:
          type: string
          enum:
          - enabled
          - disabled
        description: Quickly toggle file summary without a request body.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-mobile-settings-request'
            example:
              notification:
                hashtags_sound: enabled
              file_summary: disabled
      responses:
        '204':
          description: No Content. Mobile settings were updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The request cannot be performed. Usually because of malformed parameter or missing parameter.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request was rejected because of invalid AuthToken.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user does not have enough permission or possibly not an user of the respective organization to access the resource.
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests within a certain time frame.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cliq server encountered an error which prevents it from fulfilling the request.
      security:
      - Cliq_Auth:
        - ZohoCliq.Profile.UPDATE
      tags:
      - mobilesettings
components:
  schemas:
    notification-settings:
      type: object
      description: Notification controls by conversation type and notification mode (alert, sound, and preview).
      x-enum-descriptions:
      - enabled: Enables the notification behavior for the setting.
      - disabled: Disables the notification behavior for the setting.
      properties:
        direct_message:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles alert notifications for direct messages.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Direct message notifications are turned on.</li>\n  <li><code>disabled</code>: Direct message notifications are turned off.</li>\n</ul>\n"
        direct_message_sound:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles sound for direct message notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Sound plays for direct message notifications.</li>\n  <li><code>disabled</code>: Sound is muted for direct message notifications.</li>\n</ul>\n"
        direct_message_preview:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles message preview for direct message notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Message content is shown in the notification preview.</li>\n  <li><code>disabled</code>: Message content is hidden in the notification preview.</li>\n</ul>\n"
        channel:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles alert notifications for channel messages.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Channel notifications are turned on.</li>\n  <li><code>disabled</code>: Channel notifications are turned off.</li>\n</ul>\n"
        channel_sound:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles sound for channel message notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Sound plays for channel notifications.</li>\n  <li><code>disabled</code>: Sound is muted for channel notifications.</li>\n</ul>\n"
        channel_preview:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles message preview for channel notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Message content is shown in the channel notification preview.</li>\n  <li><code>disabled</code>: Message content is hidden in the channel notification preview.</li>\n</ul>\n"
        group:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles alert notifications for group messages.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Group notifications are turned on.</li>\n  <li><code>disabled</code>: Group notifications are turned off.</li>\n</ul>\n"
        group_sound:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles sound for group message notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Sound plays for group notifications.</li>\n  <li><code>disabled</code>: Sound is muted for group notifications.</li>\n</ul>\n"
        group_preview:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles message preview for group notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Message content is shown in the group notification preview.</li>\n  <li><code>disabled</code>: Message content is hidden in the group notification preview.</li>\n</ul>\n"
        atmentions:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles alert notifications for @mention messages.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: @mention notifications are turned on.</li>\n  <li><code>disabled</code>: @mention notifications are turned off.</li>\n</ul>\n"
        atmentions_sound:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles sound for @mention notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Sound plays for @mention notifications.</li>\n  <li><code>disabled</code>: Sound is muted for @mention notifications.</li>\n</ul>\n"
        atmentions_preview:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles message preview for @mention notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Message content is shown in the @mention notification preview.</li>\n  <li><code>disabled</code>: Message content is hidden in the @mention notification preview.</li>\n</ul>\n"
        bot:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles alert notifications for bot messages.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Bot notifications are turned on.</li>\n  <li><code>disabled</code>: Bot notifications are turned off.</li>\n</ul>\n"
        bot_sound:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles sound for bot message notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Sound plays for bot notifications.</li>\n  <li><code>disabled</code>: Sound is muted for bot notifications.</li>\n</ul>\n"
        bot_preview:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles message preview for bot notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Message content is shown in the bot notification preview.</li>\n  <li><code>disabled</code>: Message content is hidden in the bot notification preview.</li>\n</ul>\n"
        reactions:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles alert notifications for message reactions.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Reaction notifications are turned on.</li>\n  <li><code>disabled</code>: Reaction notifications are turned off.</li>\n</ul>\n"
        reactions_sound:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles sound for reaction notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Sound plays for reaction notifications.</li>\n  <li><code>disabled</code>: Sound is muted for reaction notifications.</li>\n</ul>\n"
        reactions_preview:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles message preview for reaction notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Message content is shown in the reaction notification preview.</li>\n  <li><code>disabled</code>: Message content is hidden in the reaction notification preview.</li>\n</ul>\n"
        hashtags:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles alert notifications for hashtag mentions.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Hashtag notifications are turned on.</li>\n  <li><code>disabled</code>: Hashtag notifications are turned off.</li>\n</ul>\n"
        hashtags_sound:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles sound for hashtag notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Sound plays for hashtag notifications.</li>\n  <li><code>disabled</code>: Sound is muted for hashtag notifications.</li>\n</ul>\n"
        hashtags_preview:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles message preview for hashtag notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Message content is shown in the hashtag notification preview.</li>\n  <li><code>disabled</code>: Message content is hidden in the hashtag notification preview.</li>\n</ul>\n"
        MT:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles alert notifications for mentions and tags (MT).<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: MT notifications are turned on.</li>\n  <li><code>disabled</code>: MT notifications are turned off.</li>\n</ul>\n"
        MT_sound:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles sound for MT notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Sound plays for MT notifications.</li>\n  <li><code>disabled</code>: Sound is muted for MT notifications.</li>\n</ul>\n"
        MT_preview:
          type: string
          enum:
          - enabled
          - disabled
          description: "Toggles message preview for MT notifications.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Message content is shown in the MT notification preview.</li>\n  <li><code>disabled</code>: Message content is hidden in the MT notification preview.</li>\n</ul>\n"
    update-mobile-settings-request:
      type: object
      description: Provide only the settings to update. For nested settings, send the nested object with intended values.
      x-enum-descriptions:
      - enabled: Turn this setting on.
      - disabled: Turn this setting off.
      properties:
        av_noise_cancellation:
          type: string
          enum:
          - enabled
          - disabled
          description: "Controls noise cancellation during audio/video calls.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Noise cancellation is active.</li>\n  <li><code>disabled</code>: Noise cancellation is turned off.</li>\n</ul>\n"
        media_to_gallery:
          $ref: '#/components/schemas/media-gallery-settings'
          description: Controls whether downloaded media is saved to the device gallery.
        conference_recording:
          type: string
          enum:
          - enabled
          - disabled
          description: "Controls whether conference call recording is allowed.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Conference recording is permitted.</li>\n  <li><code>disabled</code>: Conference recording is not permitted.</li>\n</ul>\n"
        last_seen:
          type: string
          enum:
          - enabled
          - disabled
          description: "Controls the visibility of the user's last seen status.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Last seen is visible to others.</li>\n  <li><code>disabled</code>: Last seen is hidden from others.</li>\n</ul>\n"
        file_summary:
          type: string
          enum:
          - enabled
          - disabled
          description: "Controls whether file summaries are shown for shared files.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: File summaries are displayed.</li>\n  <li><code>disabled</code>: File summaries are hidden.</li>\n</ul>\n"
        media_upload_quality:
          type: string
          enum:
          - enabled
          - disabled
          description: "Controls whether media is uploaded in high quality.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Media is uploaded at high quality.</li>\n  <li><code>disabled</code>: Media is uploaded at reduced quality.</li>\n</ul>\n"
        notification:
          $ref: '#/components/schemas/notification-settings'
          description: Notification controls by conversation type and notification mode (alert, sound, and preview).
        media_auto_download:
          $ref: '#/components/schemas/media-auto-download-settings'
          description: Controls automatic media download behavior based on media type or network mode.
        huddle_join_video_muted:
          type: string
          enum:
          - enabled
          - disabled
          description: "Controls whether the camera is muted by default when joining a huddle.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Camera is muted on huddle join.</li>\n  <li><code>disabled</code>: Camera is active on huddle join.</li>\n</ul>\n"
        av_hd_video:
          type: string
          enum:
          - enabled
          - disabled
          description: "Controls whether HD video is used during audio/video calls.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: HD video is active.</li>\n  <li><code>disabled</code>: HD video is turned off.</li>\n</ul>\n"
        chat_summary:
          type: string
          enum:
          - enabled
          - disabled
          description: "Controls whether chat summaries are shown for conversations.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Chat summaries are displayed.</li>\n  <li><code>disabled</code>: Chat summaries are hidden.</li>\n</ul>\n"
    media-gallery-settings:
      type: object
      description: Controls whether downloaded media is saved to the device gallery.
      x-enum-descriptions:
      - enabled: Enables saving media to gallery.
      - disabled: Disables saving media to gallery.
      properties:
        images:
          type: string
          enum:
          - enabled
          - disabled
          description: "Controls whether downloaded images are saved to the device gallery.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Downloaded images are automatically saved to the gallery.</li>\n  <li><code>disabled</code>: Downloaded images are not saved to the gallery.</li>\n</ul>\n"
        camera_captures:
          type: string
          enum:
          - enabled
          - disabled
          description: "Controls whether photos taken within the app are saved to the device gallery.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Camera captures are automatically saved to the gallery.</li>\n  <li><code>disabled</code>: Camera captures are not saved to the gallery.</li>\n</ul>\n"
        videos:
          type: string
          enum:
          - enabled
          - disabled
          description: "Controls whether downloaded videos are saved to the device gallery.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Downloaded videos are automatically saved to the gallery.</li>\n  <li><code>disabled</code>: Downloaded videos are not saved to the gallery.</li>\n</ul>\n"
    mobile-settings-response:
      type: object
      description: Full mobile settings object returned by the GET endpoint.
      x-enum-descriptions:
      - enabled: Setting is turned on.
      - disabled: Setting is turned off.
      properties:
        av_noise_cancellation:
          type: string
          enum:
          - enabled
          - disabled
        media_to_gallery:
          $ref: '#/components/schemas/media-gallery-settings'
        conference_recording:
          type: string
          enum:
          - enabled
          - disabled
        last_seen:
          type: string
          enum:
          - enabled
          - disabled
        file_summary:
          type: string
          enum:
          - enabled
          - disabled
        media_upload_quality:
          type: string
          enum:
          - enabled
          - disabled
        notification:
          $ref: '#/components/schemas/notification-settings'
        media_auto_download:
          $ref: '#/components/schemas/media-auto-download-settings'
        media_auto_download_android:
          $ref: '#/components/schemas/media-auto-download-settings'
        huddle_join_video_muted:
          type: string
          enum:
          - enabled
          - disabled
        av_hd_video:
          type: string
          enum:
          - enabled
          - disabled
        av_speech_detection:
          type: string
          enum:
          - enabled
          - disabled
        unread_summary:
          type: string
          enum:
          - enabled
          - disabled
        chat_summary:
          type: string
          enum:
          - enabled
          - disabled
    media-auto-download-settings:
      type: object
      description: Controls automatic media download behavior based on media type or network mode.
      properties:
        images:
          type: string
          example: enabled
          description: "Controls automatic download behavior for image files.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Images are downloaded automatically.</li>\n  <li><code>disabled</code>: Images are not downloaded automatically.</li>\n  <li><code>wifi</code>: Images are downloaded automatically only when connected to Wi-Fi.</li>\n  <li><code>mobile</code>: Images are downloaded automatically only when on mobile data.</li>\n</ul>\n"
        videos:
          type: string
          example: disabled
          description: "Controls automatic download behavior for video files.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Videos are downloaded automatically.</li>\n  <li><code>disabled</code>: Videos are not downloaded automatically.</li>\n  <li><code>wifi</code>: Videos are downloaded automatically only when connected to Wi-Fi.</li>\n  <li><code>mobile</code>: Videos are downloaded automatically only when on mobile data.</li>\n</ul>\n"
        others:
          type: string
          example: mobile
          description: "Controls automatic download behavior for all other file types.<br>\n<b>Allowed values</b>:\n<ul>\n  <li><code>enabled</code>: Other files are downloaded automatically.</li>\n  <li><code>disabled</code>: Other files are not downloaded automatically.</li>\n  <li><code>wifi</code>: Other files are downloaded automatically only when connected to Wi-Fi.</li>\n  <li><code>mobile</code>: Other files are downloaded automatically only when on mobile data.</li>\n</ul>\n"
    NoResponse:
      type: object
      description: Response envelope for successful operations with no payload.
      properties:
        status:
          type: string
          example: success
        message:
          type: string
          example: Operation completed successfully.
  securitySchemes:
    Cliq_Auth:
      type: oauth2
      x-authorization-example: Bearer 1000.41d9xxxxxxxxxxxxxxxxxxxxxxxxc2d1.8fccxxxxxxxxxxxxxxxxxxxxxxxx125f
      flows:
        implicit:
          authorizationUrl: https://accounts.zoho.com/oauth/v2/auth
          scopes:
            ZohoCliq.Bots.READ: Read Bot Information
            ZohoCliq.Bots.CREATE: Create Bots
            ZohoCliq.Bots.UPDATE: Update Bots
            ZohoCliq.Bots.DELETE: Delete Bots
            ZohoCliq.Webhooks.CREATE: Post messages to conversations via webhooks
            ZohoCliq.BotMessages.CREATE: Send messages via bot incoming webhooks
            ZohoCliq.Channels.UPDATE: Update Channel Settings
externalDocs:
  description: Find out more about Zoho Cliq APIs V3
  url: https://www.zoho.com/cliq/help/restapi/v3/
